<div class="tab-pane fade" ng-class="{'in active':tab==='bidOnLot'}">
    <!--2)Ставка на ЛОТ,-->
    <!--аналогично, столбцы:-->
    <!--ЛОТ № - дата когда сделал - Название лота - Сумма - Фио - Телефон - Почта-->
    <br><br>
    <div class="page-leading-list uppercase">

        <div class="row">
            <div class="hidden-xs col-sm-1">ЛОТ №</div>
            <div class="hidden-xs col-sm-2">Дата, когда сделал</div>
            <div class="hidden-xs col-sm-2">Название лота</div>
            <div class="hidden-xs col-sm-2">Сумма</div>
            <div class="hidden-xs col-sm-2">Фио</div>
            <div class="hidden-xs col-sm-1">Телефон</div>
            <div class="hidden-xs col-sm-2">Почта</div>
        </div>

        <div class="page-leading-list-div row">
            <div class="col-xs-12 col-sm-1">
                <div class="page-leading-list-div-div2">
                    ЛОТ №
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="page-leading-list-div-div2">
                    Дата, когда сделал
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="page-leading-list-div-div2">
                    Название лота
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="page-leading-list-div-div2">
                    Сумма
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="page-leading-list-div-div2">
                    Фио
                </div>
            </div>
            <div class="col-xs-12 col-sm-1">
                <div class="page-leading-list-div-div2">
                    Телефон
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="page-leading-list-div-div2">
                    Почта
                </div>
            </div>
        </div>

    </div>
</div>