<div class="tab-pane fade" ng-class="{'in active':tab==='registrationForTheAuction'}">
    <!--1)Регистрации на аукцион:-->
    <!--Табличка(верстать дивами) со столбцами:-->
    <!--аукцион № - дата когда сделал - Фио - Телефон - Почта-->
    <br><br>
    <div class="page-leading-list uppercase">

        <div class="row">
            <div class="hidden-xs col-sm-2">Аукцион №</div>
            <div class="hidden-xs col-sm-2">Дата, когда сделал</div>
            <div class="hidden-xs col-sm-3">Фио</div>
            <div class="hidden-xs col-sm-2">Телефон</div>
            <div class="hidden-xs col-sm-3">Почта</div>
        </div>

        <div class="page-leading-list-div row">
            <div class="col-xs-12 col-sm-2">
                <div class="page-leading-list-div-div2">
                    Аукцион №
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="page-leading-list-div-div2">
                    Дата, когда сделал
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="page-leading-list-div-div2">
                    Фио
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="page-leading-list-div-div2">
                    Телефон
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="page-leading-list-div-div2">
                    Почта
                </div>
            </div>
        </div>

    </div>
</div>