<div class="tab-pane fade" ng-class="{'in active':tab==='historyOfAuctions'}">

    <div class="div-table-historyofauctions">
        <table class="table-historyofauctions">
            <tr class="tr-top">
                <td class="td01">Дата</td>
                <td class="td02">Ставка</td>
                <td class="td03">Пользователь</td>
                <td class="td04">Локация</td>
            </tr>
            <tr class="tr-bottom">
                <td class="td01">20 декабря / 14:23:26</td>
                <td class="td02">6 800 000</td>
                <td class="td03">26</td>
                <td class="td04">Интернет</td>
            </tr>
            <tr class="tr-center">
                <td class="td01">20 декабря / 14:23:26</td>
                <td class="td02">7 000 000</td>
                <td class="td03"></td>
                <td class="td04">Зал</td>
            </tr>
            <tr class="tr-bottom">
                <td class="td01">20 декабря / 14:23:26</td>
                <td class="td02">7 400 000</td>
                <td class="td03">26</td>
                <td class="td04">Интернет</td>
            </tr>
        </table>
    </div>

</div>