<div class="tab-pane fade" ng-class="{'in active':!tab}" id="info-tab">
    <div class="lk-body-div-center">

        <div class="lk-body-div-center-in row">
            <div class="lk-body-div-center-in-top row">
                Данные аккаунта

            </div>
            <div class="lk-body-div-center-in-bottom row">
                <div ng-class="{'col-sm-8':currentUserInfo.roleId==3,'col-sm-12':currentUserInfo.roleId!=3}">
                    <form class="lk-body-div-center-in-bottom-left-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="custom-input">
                                    <input placeholder="Имя" type="text" ng-model="tempUserInfo.firstName">
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="custom-input">
                                    <input placeholder="Фамилия" type="text" ng-model="tempUserInfo.lastName">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input class="custom-input" placeholder="Отчество" type="text"
                                       ng-model="tempUserInfo.patronymic">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="custom-input">
                                    <input placeholder="E-mail" type="text" ng-model="tempUserInfo.email">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="custom-input">
                                    <input placeholder="Телефон" type="text" ng-model="tempUserInfo.phone">
                                </label>
                            </div>
                            <!--div class="col-sm-6">
                                <input class="custom-input kod" value="{{}}"
                                       placeholder="Код подтверждения" type="password">
                            </div-->
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="custom-input">
                                    <input placeholder="Пароль" type="password" ng-model="password">
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="custom-input">
                                    <input placeholder="Подтвердите пароль" type="password">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-reg-checkbox">
                                    <label>
                                        <input type="checkbox" name="remember_me" ng-model="tempUserInfo.receiveMessages">
                                        Я хочу получать сообщения от АртБид
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4" ng-hide="currentUserInfo.roleId!=3">
                    <div class="lk-body-div-center-in-bottom-right">
                        <div class="lk-body-div-center-in-bottom-right-top">
                            Логотип аукционного дома
                        </div>
                        <div>
                            <img src="images/icon-plus.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lk-body-div-center-in row">
            <div class="lk-body-div-center-in-top row">
                Адрес
            </div>
            <div class="lk-body-div-center-in-bottom row">
                <form class="lk-body-div-center-in-bottom-left-form col-xs-12">
                    <div class="row">
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Индекс" type="text" ng-model="tempUserInfo.index"></label></div>
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Страна" type="text" ng-model="tempUserInfo.country"></label></div>
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Город / нас. пункт" type="text" ng-model="tempUserInfo.city"></label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Улица" type="text" ng-model="tempUserInfo.street"></label></div>
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Дом / стр. / подъезд" type="text" ng-model="tempUserInfo.house"></label></div>
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Квартира / офис" type="text" ng-model="tempUserInfo.office"></label></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="lk-body-div-center-in row">
            <!--<div class="lk-body-div-center-in-top row">-->
                <!--Кредитная карта-->
            <!--</div>-->
            <div class="lk-body-div-center-in-bottom row">
                <form class="lk-body-div-center-in-bottom-left-form col-xs-12">
                    <!--<div class="row">-->
                        <!--<div class="col-sm-4"><label class="custom-input"><input placeholder="Тип карты" type="text" ng-model="typeOfCard"></label></div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-4"><label class="custom-input"><input placeholder="Номер карты" type="text" ng-model="numberOfCard"></label></div>-->
                        <!--<div class="col-sm-4"><label class="custom-input"><input placeholder="Имя карты держателя" type="text" ng-model="nameOfCardHolder"></label></div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-2"><label class="custom-input"><input placeholder="Месяц" type="text" ng-model="month"></label></div>-->
                        <!--<div class="col-sm-2"><label class="custom-input"><input placeholder="Год" type="text" ng-model="year"></label></div>-->
                        <!--<div class="col-sm-4"><label class="custom-input"><input placeholder="Секретный код" type="password" ng-model="cardCode"></label></div>-->
                    <!--</div>-->
                    <!--<br>-->
                    <!--<div class="row fullwidth-text">
                        <div class="col-xs-12">
                            <div class="fullwidth-text-caps">
                                Уже клиент ?
                            </div>
                            <div>
                                Отправьте Ваш номер клиента или номер счёта ниже. После краткого периода проверки, информация о Вашем счёте появится на вашей персональной странице. Если у вас нет этой информации, пожалуйста нажмите кнопку "сохранить и продолжить"
                            </div>
                            <br/>
                            "АртБид" номер счёта (оптциально)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><input class="custom-input" placeholder="Номер счета" type="text"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="fullwidth-text underline" ng-click="showWindow = !showWindow">
                                Где мне найти мой номер счета ?
                            </div>

                            <div class="window" ng-show="showWindow">
                                <div class="window-top">
                                    Где мне найти мой номер счёта ?
                                </div>
                                <div class="window-center">
                                    <div class="window-center-in">
                                    </div>
                                </div>
                                <div class="window-bottom">
                                    Если вам нужна помощь в поиске номера вашего счета, пожалуйста,
                                    свяжитесь с : НЬЮ-ЙОРК +1 212 606 7000, ЛОНДОН +44 (0) 20 7293 5000,
                                    ГОНКОНГ +825 2822 8142
                                </div>
                            </div>

                        </div>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
    <input class="custom-title-block" value="Сохранить" type="submit" ng-click="editUser()">
</div>