<div class="tab-pane fade" ng-class="{'in active':!tab}" id="info-tab">
    <div class="lk-body-div-center">

        <div class="lk-body-div-center-in row">
            <div class="lk-body-div-center-in-top row">
                Данные аккаунта
            </div>
            <div class="lk-body-div-center-in-bottom row">
                <div class="col-sm-8">
                    <form class="lk-body-div-center-in-bottom-left-form">
                        <div class="row">
                            <div class="col-sm-6"><label class="custom-input"><input placeholder="Имя" type="text"></label></div>
                            <div class="col-sm-6"><label class="custom-input"><input placeholder="Фамилия" type="text"></label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><input class="custom-input" placeholder="Отчество" type="text"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="custom-input"><input placeholder="E-mail" type="text"></label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="custom-input"><input placeholder="Телефон" type="password"></label></div>
                            <div class="col-sm-6"><input class="custom-input kod" placeholder="Код подтверждения" type="password"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"><label class="custom-input"><input placeholder="Пароль" type="password"></label></div>
                            <div class="col-sm-6"><label class="custom-input"><input placeholder="Подтвердите пароль" type="password"></label></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-reg-checkbox">
                                    <label>
                                        <input type="checkbox" name="remember_me">
                                        Я хочу получать сообщения от admingo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <div class="lk-body-div-center-in-bottom-right">
                        <div class="lk-body-div-center-in-bottom-right-top">
                            Логотип аукционного дома
                        </div>
                        <div>
                            <img src="images/icon-plus.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lk-body-div-center-in row">
            <div class="lk-body-div-center-in-top row">
                Адресс
            </div>
            <div class="lk-body-div-center-in-bottom row">
                <form class="lk-body-div-center-in-bottom-left-form col-xs-12">
                    <div class="row">
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Индекс" type="text"></label></div>
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Страна" type="text"></label></div>
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Город / нас. пункт" type="text"></label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Улица" type="text"></label></div>
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Дом / стр. / подъезд" type="text"></label></div>
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Квартира / офис" type="text"></label></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="lk-body-div-center-in row">
            <div class="lk-body-div-center-in-top row">
                Кредитная карта
            </div>
            <div class="lk-body-div-center-in-bottom row">
                <form class="lk-body-div-center-in-bottom-left-form col-xs-12">
                    <div class="row">
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Тип карты" type="text"></label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Номер карты" type="text"></label></div>
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Имя карты держателя" type="text"></label></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><label class="custom-input"><input placeholder="Месяц" type="text"></label></div>
                        <div class="col-sm-2"><label class="custom-input"><input placeholder="Год" type="text"></label></div>
                        <div class="col-sm-4"><label class="custom-input"><input placeholder="Секретный код" type="password"></label></div>
                    </div>
                    <br>
                    <div class="row fullwidth-text">
                        <div class="col-xs-12">
                            <div class="fullwidth-text-caps">
                                Уже клиент ?
                            </div>
                            <div>
                                Отправьте Ваш номер клиента или номер счёта ниже. После краткого периода проверки, информация о Вашем счёте появится на вашей персональной странице. Если у вас нет этой информации, пожалуйста нажмите кнопку "сохранить и продолжить"
                            </div>
                            <br/>
                            "АДМИНГО" номер счёта (оптциально)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"><input class="custom-input" placeholder="Номер счета" type="text"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="fullwidth-text">
                                Где мне найти мой номер счета ?
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <input class="custom-title-block" value="Сохранить" type="submit">
</div>