<div class="row-block">
    <div class="content-block">
        <div class="abous-us-list">
            <div class="abous-us-list-text">
                "АНИТКВАРНЫЙ КНИЖНЫЙ КЛУБ" принимает заявкина аукционы и проводит аукционы на следующий
                предметы антиквариата и коллекционирования:
                <br>
                - Антикварные книги, рукописи, автографы
                <br>
                - Фотогрфии, открытки и плакаты
                <br>
                - Архивы документов
                <br>
                - Старинные бумаги и документы
                <br>
                - Живопись и графику
                <br><br>
                Для подробной информации и вопросам обращайтесь:
                <br><br>
                125315, Москва, ул. Красноармейская, 25
                <br>
                Тел.: +7 (499) 151-99-16; +7 (906) 767-57-17 (c 10:00 до 20:00, вт.-вс.)
                <br><br>
                По вопросам выплат: +7 (499) 151-45-11 (с 10:00 до 18:00, вт.-пт.)
                <br><br>
                E-mail: info@auction-antiquebook.ru
                <br>
                Facebook: https://www.facebook.com/antiquebookclub
                <br>
                В Контакте: http://vk.com/antiquebookclub
            </div>
            <div class="abous-us-list-form">
                <div class="abous-us-list-form-name">Написать нам</div>

                <div class="abous-us-list-form-form">
                    <div class="col-sm-6">
                        <label class="custom-input">
                            <input class="ng-pristine ng-valid ng-not-empty ng-touched" type="text"
                                   ng-model="tempUserInfo.firstName" placeholder="Имя">
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="custom-input">
                            <input class="ng-pristine ng-valid ng-not-empty ng-touched" type="text"
                                   ng-model="tempUserInfo.firstName" placeholder="email">
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="custom-input">
                            <input class="ng-pristine ng-valid ng-not-empty ng-touched" type="text"
                                   ng-model="tempUserInfo.firstName" placeholder="Телефон">
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="custom-input">
                            <input class="ng-pristine ng-valid ng-not-empty ng-touched" type="text"
                                   ng-model="tempUserInfo.firstName" placeholder="Страна">
                        </label>
                    </div>
                    <div class="col-sm-12">
                        <label class="custom-input">
                            <input class="ng-pristine ng-valid ng-not-empty ng-touched" type="text"
                                   ng-model="tempUserInfo.firstName" placeholder="Сообщение">
                        </label>
                    </div>
                    <input class="custom-title-block" type="submit" ng-click="editUser()" value="Отправить">
                    <input class="div-debug" type="submit" value="Отправитьq">
                </div>

            </div>
        </div>
    </div>
</div>