<div class="auction-header" ng-hide="open">

	<div class="info-top">Аукцион {{number}}</div>
	<div class="info-bottom">Редкие и ценные книги, автографы, рукописи, фотографии<div class="edit"></div></div>
</div>

<div class="auction-header-image row-block" ng-show="open==1">
	<div class="content-block">
		<div class="auction-header-image-top">{{date}}</div>
		<div class="auction-header-image-center">Редкие и ценные книги, автографы, рукописи, фотографии</div>
		<div class="auction-header-image-bottom">Аукцион {{number}}</div>
	</div>
</div>

<div class="auction-header" ng-show="open==2">

	<div class="info-top">Каталог</div>
</div>