<div class="auction-header" ng-hide="open">
	
	<div class="info-top">Аукцион 1</div>
	<div class="info-bottom">Редкие книги, рукописи, открытки<div class="edit"></div></div>
</div>

<div class="header-image row-block" ng-show="open==1">
	<div class="content-block">
		<div class="header-image-top">
			23.03.2016
		</div>
		<div class="header-image-bottom">
			Редкие и ценные книги, плакаты, открытки<br/>
			Аукцион 1
		</div>
	</div>
</div>

<div class="auction-header" ng-show="open==2">

	<div class="info-top">Каталог</div>
</div>