<div class="auction-list">

	<div class="c-panel-top">
		<ul class="nav"><li>АУКЦИОНЫ</li></ul>
		<div class="mode-import">IMPORT</div>

        <div class="mode-prop"></div>
        <div class="mode-view-2"></div>
        <div class="mode-view-1 active"></div>
        <div class="mode-cat"></div>

		<!--<div>-->
			<!--<div class="next"></div>-->
			<!--<div class="page">11</div>-->
			<!--<div class="page">10</div>-->
			<!--<div class="page">9</div>-->
			<!--<div class="page">8</div>-->
			<!--<div class="page">7</div>-->
			<!--<div class="prev"></div>-->
		<!--</div>-->
	</div>

	<div class="tabs">
		<div class="row">
			
			<div class="col-xs-6 col-sm-4 col-md-3"><div class="tab-add" ui-sref="lot">ДОБАВИТЬ НОВЫЙ ЛОТ</div></div>
			<div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="r in [1,2,3,4,5,6,7,8]">
				<div class="tab">
					<div class="over">
						<div class="view"></div>
						<div class="edit"></div>
						<div class="delete"></div>
						<div class="info"><p class="top">Продано за</p> <p class="bottom">10 000 000 Р</p></div>
						</div>
					</div>
				</div>
		</div>
	</div>

    <div class="c-panel-bottom">
        <ul class="nav"><li>АУКЦИОНЫ</li></ul>
        <div class="mode-import">IMPORT</div>

        <div class="mode-prop"></div>
        <div class="mode-view-2"></div>
        <div class="mode-view-1 active"></div>
        <div class="mode-cat"></div>
        <!--<div>-->
            <!--<div class="next"></div>-->
            <!--<div class="page">11</div>-->
            <!--<div class="page">10</div>-->
            <!--<div class="page">9</div>-->
            <!--<div class="page">8</div>-->
            <!--<div class="page">7</div>-->
            <!--<div class="prev"></div>-->
        <!--</div>-->
    </div>

</div>
	
	

	
