	
	
		<div class="auction-list">

				<div class="c-panel-top">
					<ul><li>АУКЦИОНЫ</li></ul>
					<div class="mode-import"></div>
					<div class="text">IMPORT</div>
				
					<div class="mode-prop"></div>
					<div class="mode-view-2"></div>
					<div class="mode-view-1 active"></div>
					<div class="mode-cat"></div>
					
					<div class="page"><img src="/images/arrow-right-b.png"></div>
					<div class="page">10</div>
					<div class="page">9</div>
					<div class="page">8</div>
					<div class="page">7</div>
					<div class="page">6</div>
					<div class="page">5</div>
					<div class="page">4</div>
					<div class="page">3</div>
					<div class="page">2</div>
					<div class="page">1</div>
					<div class="page"><img src="/images/arrow-left-b.png"></div>
				</div>
				
		
		<div class="tabs row">
			
			<div class="col-sm-3"><div class="tab-add">ДОБАВИТЬ НОВЫЙ ЛОТ</div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
		</div>
			
		
		
		
		<div class="c-panel-bottom">
				<ul><li>АУКЦИОНЫ</li></ul>
					<div class="mode-import"></div>
					<div class="text">IMPORT</div>
				
					<div class="mode-prop"></div>
					<div class="mode-view-2"></div>
					<div class="mode-view-1 active"></div>
					<div class="mode-cat"></div>
					
					<div class="page"><img src="/images/arrow-right-b.png"></div>
					<div class="page">10</div>
					<div class="page">9</div>
					<div class="page">8</div>
					<div class="page">7</div>
					<div class="page">6</div>
					<div class="page">5</div>
					<div class="page">4</div>
					<div class="page">3</div>
					<div class="page">2</div>
					<div class="page">1</div>
					<div class="page"><img src="/images/arrow-left-b.png"></div>
			</div>
		
</div>
	
	

	
