	
	
		<div class="auction-list content-block">

				<div class="c-panel-top">
					<ul><li>АУКЦИОНЫ</li></ul>
				</div>
				
		
		<div class="tabs row">
			
			<div class="col-sm-3"><div class="tab-add">ДОБАВИТЬ НОВЫЙ ЛОТ</div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
			<div class="col-sm-3"><div class="tab"></div></div>
		</div>
			
		
		
		
		<div class="c-panel-bottom"><ul><li>АУКЦИОНЫ</li></ul></div>
		
</div>
	
	

	
