<div class="lot-list">
    <div class="row">
        <div class="col-sm-6">
            <div class="lot-title"></div>
            <div class="lot-estimate"></div>
            <div class="lot-price"></div>
        </div>
        <div class="col-sm-6">
            <div class="big-photo"></div>
            <br/>
            <div class="gallery">
                <div class="small-photo"></div>
                <div class="small-photo"></div>
                <div class="small-photo"></div>
                <div class="small-photo"></div>
                <div class="small-photo"></div>
                <div class="small-photo"></div>
                <div class="small-photo"></div>
            </div>
        </div>
    </div>
</div>