<div class="lot-list">
    <div class="row row-lg">
        <div class="top-block">
            <div class=" col col-sm-6">
                <div class="lot-title">
					<div class="edit"></div>
					<p>"Древности Россейскага государства", изданные по высочайшему повелению.</p> 
					<p>Рисованы академиком Ф.Солнцевым. 6 выпусков + Атлас. В типографии Александра Семена.</p> 
					<p>Хромолитография Ф.Дрегера 1849-1853</p>
				</div>
                <div class="lot-estimate button-title">Эстимэйт: 6 500 000 - 7 500 000<div class="edit"></div></div>
				<div class="lot-price button-title">Цена продажи: <div class="edit"></div></div>
            </div>
            <div class="col col-sm-6">
                <div class="big-photo">
					<div class="cclose"></div>
					<div class="edit"></div>
				</div>
                <br/>
                <div class="gallery">
                    <div class="small-photo"><div class="cclose"></div><div></div></div>
                    <div class="small-photo"><div class="cclose"></div><div></div></div>
                    <div class="small-photo"><div class="cclose"></div><div></div></div>
                    <div class="small-photo"><div class="cclose"></div><div></div></div>
                    <div class="small-photo"><div class="cclose"></div><div></div></div>
                    <div class="small-photo"><div class="cclose"></div><div></div></div>
                    <div class="add"><div></div></div>
                </div>
		    </div>
			<div class="col col-sm-12">
				<div class="txt-edit">
					<div class="lot-body-div-center-in-top pad-icon pull-right">
						<!--  Здесь вставлять иконки или шрифт ? -->
						<!--div class="sm-dropdown"-->
							<div class="lot-body-div-center-in-top-divdescription"><a class="t" href="/" title="Обычный текст"></a></div>
							<div class="lot-body-div-center-in-top-divdescription"><a class="i" href="/" title="Курсив"></a></div>
							<div class="lot-body-div-center-in-top-divdescription"><a class="b" href="/" title="Жирный"></a></div>
							<div class="lot-body-div-center-in-top-divdescription"><a class="tt" href="/" title="С подчёркиванием"></a></div>
						<!--/div-->
						<div class="sm-dropdown">
							<div class="lot-body-div-center-in-top-divdescription m-l"><a class="font-l" href="/" title="Выровнять текст по левому краю"></a></div>
							<div class="lot-body-div-center-in-top-divdescription"><a class="font-c" href="/" title="Выровнять текст по центру"></a></div>
							<div class="lot-body-div-center-in-top-divdescription"><a class="font-r" href="/" title="Выровнять текст по правому краю"></a></div>
						</div>
						<div class="sm-dropdown">
							<div class="lot-body-div-center-in-top-divdescription m-l"><a class="indent-reduce" href="/" title="Уменьшить отступ"></a></div>
							<div class="lot-body-div-center-in-top-divdescription m-l"><a class="indent-increase" href="/" title="Увеличить отступ"></a></div>
						</div>
					</div>
					<div class="title custom-btn-sm ">ОПИСАНИЕ</div>
				</div>
				<div class="edit-field">
					<div class="edit"></div><div class="cclose"></div>
					<p>"Древности Россейскага государства", изданные по высочайшему повелению.</p> 
					<p>Рисованы академиком Ф.Солнцевым. 6 выпусков + Атлас. В типографии Александра Семена.</p> 
					<p>Хромолитография Ф.Дрегера 1849-1853</p>
				</div>
			</div>
        </div>
    </div>
    <div class="lot-description">
        <div class="lot-description-header"></div>
        <div class="lot-description-body"></div>
    </div>
    <div class="row lot-buttons">
        <div class="col-sm-3"> <div class="custom-btn-sm btn-block custom-btn-red">Удалить</div> </div>
        <div class="col-sm-3"> <div class="custom-btn-sm btn-block">Сохранить</div> </div>
        <div class="col-sm-6"> <div class="custom-btn-sm btn-block">Сохранить и создать новый</div> </div>
    </div>
</div>