<div class="room-container-header">
    <div class="room-header" ng-show="countdown==1">
        <!--<div class="info-top"><br></div>-->
        <div class="row">
            <div class="info-bottom">
                <div class="pull-left">АУКЦИОН {{auction_number}}</div>
                <!--<div class="favorite pull-right"></div>-->
                <div class="cat pull-right" ui-sref="auction({auctionId:auction_id,open:1})"></div>
            </div>
        </div>
    </div>

    <div class="room-header">
        <!--<div class="info-top"><br></div>-->
        <div class="row">
            <div class="info-bottom">
                <div class="pull-left">ЛОТ {{lot_number}}</div>
                <!--<div class="favorite pull-right"></div>-->
                <div class="cat pull-right" ui-sref="auction({auctionId: auction_id, open: 1})"></div>
            </div>
        </div>
    </div>
</div>
