<div class="room-list" ng-class="{'ll-open':open}">
    <div class="row row-lg">
        <div class="top-block">
            <div class="col col-sm-12">
                <div class="room-title">
                    <div class="edit"></div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <round-progress class="pull-left"
                max="60"
                current="30"
                color="#45ccce"
                bgcolor="#eaeaea"
                radius="100"
                semi="false"
                stroke="15"
                rounded="false"
                clockwise="true"
                responsive="false"
                duration="800"
                animation="easeInOutQuart"
                offset="0"
                animation-delay="0"></round-progress>
        <round-progress class="pull-left"
                max="60"
                current="30"
                color="#45ccce"
                bgcolor="#eaeaea"
                radius="100"
                semi="false"
                stroke="15"
                rounded="false"
                clockwise="true"
                responsive="false"
                duration="800"
                animation="easeInOutQuart"
                offset="0"
                animation-delay="0"></round-progress>
        <round-progress
                max="60"
                current="30"
                color="#45ccce"
                bgcolor="#eaeaea"
                radius="100"
                semi="false"
                stroke="15"
                rounded="false"
                clockwise="true"
                responsive="false"
                duration="800"
                animation="easeInOutQuart"
                offset="0"
                animation-delay="0"></round-progress>
    </div>
    <br>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="СООБЩЕНИЕ">
        <span class="input-group-btn">
            <button class="btn room-buttons" type="submit">ОТПРАВИТЬ</button>
        </span>
    </div>
    <div>
        <input type="text" class="form-control" style="height: 80pt">
    </div>
    <br>
</div>