<div class="rom-container">
    <!--первая подстраница с прогресс-барами круглыми-->
    <div ng-show="countdown==1">
        <div class="room-list" ng-class="{'ll-open':open}">
            <!--прогресс-бар наверху-->
            <div class="room-progress-bar-container">
                <div ng-class="['progress-bar-line', 'pull-left']" ng-style="auction_params.progress_bar_class"></div>
                <div class="room-text-in-bar-procents pull-right">0% ИЗ 0 ЛОТОВ | 00 : 00</div>
                <!--<div class="room-text-in-bar-time pull-left">00 : 57</div>-->
            </div>
            <div class="room-auction-title">
                <div class="room-auction-title-auction">АУКЦИОН</div>
                <div class="room-auction-title-starts-in">НАЧНЕТСЯ ЧЕРЕЗ</div>
            </div>
            <!--прогресс бары-->
            <div class="progress-bar-circle-container" ng-hide="notDate">
                <div class="room_container-for-circles">
                    <round-progress class="room-circle-bar"
                                    max="99"
                                    current="timer.days"
                                    color="#162346"
                                    bgcolor="#E2F3FB"
                                    radius="70"
                                    semi="false"
                                    stroke="7"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    offset="0"
                                    animation-delay="0"></round-progress>
                    <div class="room-circle-bar-text">
                        <div class="room-circle-bar-text-digit">{{timer.days}}</div>
                        <div class="room-circle-bar-text-text">ДНЕЙ</div>
                    </div>
                </div>
                <div class="room_container-for-circles">
                    <round-progress class="room-circle-bar"
                                    max="24"
                                    current="timer.ch"
                                    color="#162346"
                                    bgcolor="#E2F3FB"
                                    radius="70"
                                    semi="false"
                                    stroke="7"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    offset="0"
                                    animation-delay="0"></round-progress>
                    <div class="room-circle-bar-text">
                        <div class="room-circle-bar-text-digit">{{timer.ch}}</div>
                        <div class="room-circle-bar-text-text">ЧАСОВ</div>
                    </div>
                </div>

                <div class="room_container-for-circles">
                    <round-progress class="room-circle-bar"
                                    max="60"
                                    current="timer.min"
                                    color="#162346"
                                    bgcolor="#E2F3FB"
                                    radius="70"
                                    semi="false"
                                    stroke="7"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    offset="0"
                                    animation-delay="0"></round-progress>
                    <div class="room-circle-bar-text">
                        <div class="room-circle-bar-text-digit">{{timer.min}}</div>
                        <div class="room-circle-bar-text-text">МИНУТ</div>
                    </div>
                </div>

                <div class="room_container-for-circles">
                    <round-progress class="room-circle-bar"
                                    max="60"
                                    current="timer.sec"
                                    color="#162346"
                                    bgcolor="#E2F3FB"
                                    radius="70"
                                    semi="false"
                                    stroke="7"
                                    rounded="false"
                                    clockwise="true"
                                    responsive="false"
                                    duration="800"
                                    animation="easeInOutQuart"
                                    offset="0"
                                    animation-delay="0"></round-progress>
                    <div class="room-circle-bar-text">
                        <div class="room-circle-bar-text-digit">{{timer.sec}}</div>
                        <div class="room-circle-bar-text-text">СЕКУНД</div>
                    </div>
                </div>

            </div>

            <br>
            <!--чат-->
            <div class="input-group room-input-group">
                <!--<input type="text" class="form-control room-message-form" placeholder="СООБЩЕНИЕ">-->
                <input class="form-control room-message-form"
                       type="text"
                       placeholder="СООБЩЕНИЕ"
                       id="write-message2"
                       ng-model="chat.message"
                       ng-keyup="chat.keyUp($event)">
                        <span class="input-group-btn">
                            <button class="btn room-buttons"
                                    type="submit"
                                    ng-click="chat.addMessage()">
                                ОТПРАВИТЬ
                            </button>
                        </span>
            </div>


            <div class="room-chat">
                <div ng-repeat="chatMessage in chat.messages">
                    <div class="black">{{chatMessage.user.firstName}} {{chatMessage.user.lastName}}
                        <!--{{chatMessage.user.patronymic}}-->
                        : {{chatMessage.message}}
                        <!--&gt; <div class="black">все</div>-->
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!--вторая подстраница непосредственно с аукционом-->
    <div ng-show="countdown==2" class="container">
        <div class="row">
            <div class="room-list">
                <!--прогресс-бар наверху-->
                <div>
                    <div class="room-progress-bar-container">
                        <div ng-class="['progress-bar-line', 'pull-left']"
                             ng-style="auction_params.progress_bar_class"></div>
                        <div class="room-text-in-bar-procents pull-right">{{auction_params.lots_isPlayOutedPercent}}% ИЗ
                            {{auction_params.lots_length}} ЛОТОВ | {{min}}:{{sec}}
                        </div>
                        <!--<div class="room-text-in-bar-time pull-left">00 : 57</div>-->
                    </div>
                </div>
                <!--левая колонка-->
                <div class="col-sm-6 left-column">

                    <div class="legend">
                        <div class="col-sm-6 pull-left">Всего участников: <b>{{auction_params.users_length.internet_users
                            + auction_params.users_length.hall_users}}</b></div>
                        <div class="col-sm-3 pull-right">В зале: <b>{{auction_params.users_length.hall_users}}</b></div>
                        <div class="col-sm-3 pull-right internet-hover"
                             ng-mouseenter="changeClassLot()" ng-mouseleave="changeClassLot()">
                            Интернет: <b>{{auction_params.users_length.internet_users}}</b>
                        </div>
                    </div>
                    <!--вывод всех ID пользователей - {{auction_params.users_number}}<br>-->
                    <!--вывод текущего ID пользователя - {{currentUserInfo.id}}-->

                    <!--карточки-->
                    <div class="row">
                        <div class="room-container-with-circles">
                            <div emit-last-repeater-element
                                 class="lot-table"
                                 ng-class="{'lot-user-internet': classLot,
                                            'class-Of-Lot-I': $index == classOfLotI,
                                            'class-blue-bid': $index+2 === userNumber && timeoutBidUser === true,
                                            'class-red-bid': $index+2 === userNumber && timeoutRedBidUser === true}"
                                 ng-repeat="r in auction_params.users_number"
                                 ng-click='setPopup($index)'>

                                <div>
                                    <div class="num-on-table">{{$index+1}}</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--чат-->
                    <div class="input-group room-input-group">
                        <!--<input type="text" class="form-control room-message-form" placeholder="СООБЩЕНИЕ">-->
                        <input class="form-control room-message-form"
                               type="text"
                               placeholder="СООБЩЕНИЕ"
                               id="write-message"
                               ng-model="chat.message"
                               ng-keyup="chat.keyUp($event)">
                        <span class="input-group-btn">
                            <button class="btn room-buttons"
                                    type="submit"
                                    ng-click="chat.addMessage()">
                                ОТПРАВИТЬ
                            </button>
                        </span>
                    </div>

                    <div class="room-chat">
                        <div ng-repeat="chatMessage in chat.messages">
                            <div class="black"><b>{{chatMessage.user.firstName}} {{chatMessage.user.lastName}}</b>
                                <!--{{chatMessage.user.patronymic}}-->
                                : {{chatMessage.message}}
                                <!--&gt; <div class="black">все</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--{{chat.messages}}-->
                <!--<br>-&#45;&#45;<br>-->
                <!--{{auction_params.lots}}-->
                <!--<br>-&#45;&#45;<br>-->
                <!--{{lot_number}}-->
                <!--<br>-&#45;&#45;<br>-->
                <!--{{auction_params.lots[$index].number}}-->
                <!--<br>-&#45;&#45;<br>-->
                <!--<div ng-click="movePreviewPicturesToStartGallery()">movePreviewPicturesToStartGallery</div>-->
                <!--правая колонка-->
                <div class="right-column col-sm-6">
                    <div class="row">
                        <div class="room-small-books-container">
                            <div class="room-arrow_left">
                                <img src="../../images/arrow-left-b.png"
                                     ng-click="lastPhotos()">
                            </div>
                            <div class="room-arrow-right">
                                <img src="../../images/arrow-right-b.png"
                                     ng-click="firstPhotos()">
                            </div>
                            <div class="gallery-carousel">
                                <a emit-last-repeater-element
                                   class="pull-left width100"
                                   ng-repeat="r in auction_params.lots"
                                   ui-sref="lot({lotId:r.id})"
                                   target="_blank">
                                    <div class="page-numbers-single"
                                         ng-class="{'page-numbers-single-red':
                                         lot_number==auction_params.lots[$index].number}">
                                         {{auction_params.lots[$index].number}}
                                    </div>

                                    <div class="room-small-photo">
                                        <div ng-class="{'room-small-photo-redBorder':
                                             lot_number === auction_params.lots[$index].number}">
                                            <img ng-src="/images/lot-images/{{getPicById(r.titlePicId).fileName
                                                 || 'no-photo.jpg'}}">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!--<div class="pull-left width100">
                                <div class="page-numbers-single">149</div>
                                <div class="room-small-photo">
                                    <div><img src="/images/FOR_DEV/sm_book.png"></div>
                                </div>
                            </div>
                            <div class="pull-left width100">
                                <div class="page-numbers-single">150</div>
                                <div class="room-small-photo">
                                    <div><img src="/images/FOR_DEV/sm_book.png"></div>
                                </div>
                            </div>
                            <div class="pull-left width100">
                                <div class="page-numbers-single">151</div>
                                <div class="room-small-photo">
                                    <div><img src="/images/FOR_DEV/sm_book.png"></div>
                                </div>
                            </div>
                            <div class="pull-left width100">
                                <div class="page-numbers-single">152</div>
                                <div class="room-small-photo">
                                    <div><img src="/images/FOR_DEV/sm_book.png"></div>
                                </div>
                            </div>
                            <div class="pull-left width100">
                                <div class="page-numbers-single">153</div>
                                <div class="room-small-photo">
                                    <div><img src="/images/FOR_DEV/sm_book.png"></div>
                                </div>
                            </div>-->

                        </div>
                    </div>


                    <div class="row">
                        <div class="description">

                            <div class="col-xs-8 blue-border-right">
                                <div class="description-the-book">
                                    {{current_lot.description.slice(0,135)+'...'| htmlToPlaintext }}
                                </div>
                                <hr>
                                <!--<div class="room-large-book">-->
                                <!--<img src="/images/lot-images/{{current_lot.lot_pictures[current_lot.currentPic].fileName}}"-->
                                <!--width="200pt" ng-hide="swap">-->

                                <!--<div ng-hide="swap">-->
                                <!--<img src="/images/FOR_DEV/video.png" width="200pt">-->
                                <!--</div>-->

                                <!--<div ng-hide="swap">-->
                                <!--<img src="/images/FOR_DEV/video.png">-->
                                <!--&lt;!&ndash;<img src="/images/lot-images/{{current_lot.lot_pictures[current_lot.currentPic].fileName}}"&ndash;&gt;-->
                                <!--&lt;!&ndash;width="200pt" ng-hide="swap">&ndash;&gt;-->
                                <!--</div>-->


                                <!--<img src="/images/FOR_DEV/video.png" width="200pt" ng-if="swap == true">-->
                                <!--<img src="/images/FOR_DEV/video.png" width="260pt" ng-if="swap == false">-->
                                <!--</div>-->
                            </div>
                            <div class="col-xs-4">
                                <div class="description-the-book">
                                    <div class="recommended-price">ПРЕДЛОЖЕННАЯ ЦЕНА</div>
                                    <div class="recommended-price-number">{{+current_lot.sellingPrice | toLocaleString}} Р</div>
                                    <br>
                                </div>
                                <hr>
                                <div class="rate-from-inet" >
                                    <span>СТАВКА</span>
                                    <div class="rate-from-inet-sec-row" ><p ng-if="userNumber">ИЗ ИНТЕРНЕТА</p></div>
                                    <div class="rate-from-inet-third-row"><p ng-if="userNumber">ОТ #
                                        {{userNumber - 1}}</p>
                                    </div>
                                </div>
                                <!--<div class="dollar-arrows"></div>-->
                                <div class="video-container">
                                    <button class="btn swap-btn" ng-click="changeClassVideoWindow()"
                                            style="margin-left: -35px"></button>
                                    <button class="btn sound-btn" ng-click="soundOnOff()"
                                            style="margin-left: -35px; margin-top: 50px"
                                            ng-class="{'sound-on':!classSoundOnOff,'sound-off':classSoundOnOff}">
                                    </button>
                                    <!--<button ng-click="joinRoom()">Включить трансляцию</button>-->

                                    <!--<img src="/images/lot-images/{{current_lot.lot_pictures[current_lot.currentPic].fileName}}"-->
                                    <!--height="70pt" ng-if="swap == true">-->


                                    <div ng-class="{'classForVideo-small':aaa,'classForVideo-big':!aaa}">
                                        <!--<img src="/images/FOR_DEV/video.png">-->
                                        <div class="room-large-book">
                                            <img ng-src="/images/lot-images/{{current_lot.lot_pictures[current_lot.currentPic].fileName || 'no-photo.jpg'}}">
                                        </div>
                                    </div>
                                    <div ng-class="{'classForVideo-big':aaa,'classForVideo-small':!aaa}">
                                        <video id="remoteVideo"></video>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="insert-your col-sm-12"><input class="lot-priceinput" ng-model="bidPrice"
                                                                  placeholder="Сделайте шаг / впишите свой"
                                                                  value="{{bidPrice}}" ng-change="formatBid()">
                            <div class="lot-pricediv1-2-2" ng-click="incrementBid()"></div>
                            <div class="lot-pricediv1-2-1" ng-click="decrementBid()"></div>
                        </div>
                        <div class="room-price room-price-color do-rate col-sm-6" ng-show="!btnHide" ng-click="confirmLot(); setButtonTimeout()">СДЕЛАТЬ СТАВКУ</div>
                        <div class="room-price room-price-color do-rate-hided col-sm-6" ng-show="btnHide">СДЕЛАТЬ СТАВКУ</div>
                        <div class="room-price number-of-rate col-sm-6">{{bidPrice | toLocaleString}} Р</div>
                    </div>
                    <div class="max-rate" ng-click="maxEstimate()" ng-if="estimateToMax">
                        <a>МАКСИМАЛЬНАЯ СТАВКА</a>
                    </div>
                    <span class="state-lot" ng-if="soldLot.lot.number && soldLot.lastBid.user.lastName && soldLot.lastBid.price">
                        <p>Лот {{soldLot.lot.number}} продан {{soldLot.lastBid.user.lastName}} {{soldLot.lastBid.user.lastName[0]}}.
                            {{soldLot.lastBid.user.patronymic[0]}} {{soldLot.lastBid.price.toLocaleString() + ' руб'}}
                            {{soldLot.lastBid.time}}</p>
                        </span>

                    <!--Статистика покупок-->
                    <div class="row">
                        <div class="room-chat" ng-repeat="row in sellingStatistics">
                            <div ng-show="row.isSold"><b>{{row.firstName}} {{row.lastName}}</b> купил лот <b>№ {{row.lotNumber}} </b> за {{row.price}} руб.</div>
                            <div ng-show="row.isCl"><b>Лот № {{row.lotNumber}}</b> снят с продажи</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="room-auction-title" ng-if="countdown===3">
    <div class="room-auction-title-auction">
        <p style="font-size: 60px;text-align: center;padding-top: 150px";><b>АУКЦИОН ЗАВЕРШЕН</b></p>
        <p style="font-size: 60px;text-align: center;";><b>СПАСИБО ЗА ВНИМАНИЕ!</b></p>
    </div>
</div>
