<div class="room-list" ng-class="{'ll-open':open}">
    <div class="row row-lg">
        <div class="top-block">
            <div class="col col-sm-12">
                <div class="room-title">
                    <div class="edit"></div>
                </div>
            </div>
        </div>
    </div>

    <div align="center">
        <svg>
            <circle cx="102" cy="102" r="100" fill="rgb(234,234,234)" stroke-width="1" stroke="rgb(0,0,0)"/>
        </svg>
    </div>
    <br>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="СООБЩЕНИЕ">
        <span class="input-group-btn">
            <button class="btn room-buttons" type="submit">ОТПРАВИТЬ</button>
        </span>
    </div>
    <div>
        <input type="text" class="form-control" style="height: 80pt">
    </div>
    <br>

</div>