<div  class="content-list content-block">

	<div class="lk-body">
		<div class="lk-body-div-top">
            <ul class="lk-body-div-top-ul">
				<li><div class="header-menu-text-center">Аукционы</div></li>
				<li><div class="header-menu-text-center">Календарь</div></li>
				<li><div class="header-menu-text-center">Описание</div></li>
				<li><div class="header-menu-text-center">История торгов</div></li>
				<li><div class="header-menu-text-center">Личные данные</div></li>
            </ul>
		</div>
		<div class="lk-body-div-center">		
			<div class="lk-body-div-center-in">
				<div class="lk-body-div-center-in-top">
					Данные аккаунта
				</div>
				<div class="lk-body-div-center-in-bottom">
					<div class="lk-body-div-center-in-bottom-left">
						<form class="lk-body-div-center-in-bottom-left-form">
							<label><input class="custom-input" placeholder="Имя" type="text"></label>
							<label><input class="custom-input" placeholder="Фамилия" type="text"></label> 
							<div class="fullwidth"><input class="custom-input" placeholder="Отчество" type="text"></div>							
							<div class="fullwidth"><label><input class="custom-input" placeholder="E-mail" type="text"></label></div>
							<label><input class="custom-input" placeholder="Телефон" type="password"></label>
							<input class="custom-input kod" placeholder="Код подтверждения" type="password">
							<label><input class="custom-input" placeholder="Пароль" type="password"></label>
							<label><input class="custom-input" placeholder="Подтвердите пароль" type="password"></label>		
							<div class="form-reg-checkbox">
								<label>
									<input type="checkbox" name="remember_me">
									Я хочу получать сообщения от admingo
								</label>
							</div>		
						</form>
					</div>
					<div class="lk-body-div-center-in-bottom-right">
						<div class="lk-body-div-center-in-bottom-right-top">
							Логотип аукционного дома
						</div>
						<div>
							<img src="images/icon-plus.png">
						</div>
					</div>
					
				</div>
			</div>			
			<div class="lk-body-div-center-in height2">
				<div class="lk-body-div-center-in-top">
					Адресс
				</div>
				<div class="lk-body-div-center-in-bottom">
					<div class="lk-body-div-center-in-bottom-left fullwidth">
						<form class="lk-body-div-center-in-bottom-left-form">					
							<label><input class="custom-input" placeholder="Индекс" type="text"></label>
							<label><input class="custom-input" placeholder="Страна" type="text"></label>
							<label><input class="custom-input m-0" placeholder="Город / нас. пункт" type="text"></label>
							<label><input class="custom-input" placeholder="Улица" type="text"></label>
							<label><input class="custom-input" placeholder="Дом / стр. / подъезд" type="text"></label>
							<label><input class="custom-input m-0" placeholder="Квартира / офис" type="text"></label>
						</form>
					</div>
				</div>
			</div>			
			<div class="lk-body-div-center-in">
				<div class="lk-body-div-center-in-top">
					Кредитная карта
				</div>
				<div class="lk-body-div-center-in-bottom height3">
					<div class="lk-body-div-center-in-bottom-left">
						<form class="lk-body-div-center-in-bottom-left-form">						
							<div class="fullwidth"><label><input class="custom-input" placeholder="Тип карты" type="text"></label></div>		
							<label><input class="custom-input" placeholder="Номер карты" type="text"></label>
							<label><input class="custom-input" placeholder="Имя карты держателя" type="text"></label>
							<label><input class="custom-input month" placeholder="Месяц" type="text"></label>
							<label><input class="custom-input month" placeholder="Год" type="text"></label>
							<label><input class="custom-input" placeholder="Секретный код" type="password"></label>							
							<br><br>
							<div class="fullwidth-text">
								<div>
									<div class="fullwidth-text-caps">
										Уже клиент ?
									</div>
								</div>
								<div>
									Отправьте Ваш номер клиента или номер счёта ниже. После краткого периода проверки, информация о Вашем счёте появится на вашей персональной странице. Если у вас нет этой информации, пожалуйста нажмите кнопку "сохранить и продолжить"
								</div>
								"Админго" номер счёта (оптциально)
							</div>							
							<div class="fullwidth"><input class="custom-input" placeholder="Номер счета" type="text"></div>	
							<div class="fullwidth-text">
								Где мне найти мой номер счета ?
							</div>	
						</form>
					</div>
				</div>
			</div>			
		</div>
		<input class="custom-title-block" value="Сохранить" type="submit">
	</div>

</div>