<div  class="lk-list content-block">

	<div class="lk-body">
		<div class="lk-body-div-top">
            <ul class="lk-body-div-top-ul nav nav-tabs" role="tablist">
				<li ng-class="{'active':tab==='auctions'}" ui-sref="{tab:'auctions'}" ng-if="currentUserInfo.roleId<=3">Аукционы</li>
				<!--<li ng-class="{'active':tab==='calendar'}" ui-sref="{tab:'calendar'}" ng-if="currentUserInfo.roleId<=3">Календарь</li>-->
				<!--li ng-class="{'active':tab==='description'}" ui-sref="{tab:'description'}">Описание</li-->
				<li ng-class="{'active':tab==='historyOfAuctions'}" ui-sref="{tab:'historyOfAuctions'}" ng-if="currentUserInfo.roleId<=3">История торгов</li>
				<li ng-class="{'active':!tab}" ui-sref="{tab:''}">Личные данные</li>
				<li ng-class="{'active':tab==='historyOfAuctions'}" ng-click="getUserSellingStatistics()" ui-sref="{tab:'historyOfAuctionsCustomer'}" ng-if="currentUserInfo.roleId==4">История торгов</li>
            </ul>
		</div>
		<div class="tab-content">
			<!--=include tabs/*.html -->
		</div>
	</div>

</div>