<div class="calendar-header">
    <div>
        <div class="calendar-header-menu">
            <ul class="row">
                <li class="col-xs-1 left-arrow"></li>
                <li class="col-xs-2">
                    <div>
                        <div class="calendar-header-menu-title">Апрель</div>
                        <div class="calendar-header-menu-year">2016</div>
                        <div class="calendar-header-menu-bottom">///</div>
                    </div>
                </li>
                <li class="col-xs-2">
                    <div class="active">
                        <div class="calendar-header-menu-title">Март</div>
                        <div class="calendar-header-menu-year">2016</div>
                        <div class="calendar-header-menu-bottom">///</div>
                    </div>
                </li>
                <li class="col-xs-2">
                    <div>
                        <div class="calendar-header-menu-title">Февраль</div>
                        <div class="calendar-header-menu-year">2016</div>
                        <div class="calendar-header-menu-bottom">///</div>
                    </div>
                </li>
                <li class="col-xs-2">
                    <div>
                        <div class="calendar-header-menu-title">Декабрь</div>
                        <div class="calendar-header-menu-year">2016</div>
                        <div class="calendar-header-menu-bottom">///</div>
                    </div>
                </li>
                <li class="col-xs-2">
                    <div>
                        <div class="calendar-header-menu-title">Апрель</div>
                        <div class="calendar-header-menu-year">2016</div>
                        <div class="calendar-header-menu-bottom">///</div>
                    </div>
                </li>
                <li class="col-xs-1 right-arrow"></li>
            </ul>
        </div>
    </div>
</div>