<!--<div class="calendar-header">-->
    <!--<div>-->
        <!--<div class="calendar-header-menu container">-->
            <!--<ul class="row">-->
                <!--<li class="col-xs-1 left-arrow"></li>-->
                <!--<li class="col-xs-2">-->
                    <!--<div>-->
                        <!--<div class="calendar-header-menu-title">Апрель</div>-->
                        <!--<div class="calendar-header-menu-year">2016</div>-->
                        <!--<div class="calendar-header-menu-bottom"><span class="icon-molotok"></span></div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="col-xs-2">-->
                    <!--<div class="active">-->
                        <!--<div class="calendar-header-menu-title">Март</div>-->
                        <!--<div class="calendar-header-menu-year">2016</div>-->
                        <!--<div class="calendar-header-menu-bottom">-->
                            <!--<span class="icon-molotok"></span>-->
                            <!--<span class="icon-molotok"></span>-->
                            <!--<span class="icon-molotok"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="col-xs-2">-->
                    <!--<div>-->
                        <!--<div class="calendar-header-menu-title">Февраль</div>-->
                        <!--<div class="calendar-header-menu-year">2016</div>-->
                        <!--<div class="calendar-header-menu-bottom"><span class="icon-molotok"-->
                                                                       <!--ng-repeat="r in [1,2,3,4,5,6,7,8,9]"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="col-xs-2">-->
                    <!--<div>-->
                        <!--<div class="calendar-header-menu-title">Декабрь</div>-->
                        <!--<div class="calendar-header-menu-year">2016</div>-->
                        <!--<div class="calendar-header-menu-bottom"><span class="icon-molotok"></span><span-->
                                <!--class="icon-molotok"></span><span class="icon-molotok"></span></div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="col-xs-2">-->
                    <!--<div>-->
                        <!--<div class="calendar-header-menu-title">Апрель</div>-->
                        <!--<div class="calendar-header-menu-year">2016</div>-->
                        <!--<div class="calendar-header-menu-bottom"><span class="icon-molotok"></span><span-->
                                <!--class="icon-molotok"></span></div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="col-xs-1 right-arrow"></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->