<div class="calendar-list">
    <div class="calendar-list-content">
        <div class="calendar-list-years">
            <ul>
                <li>2016</li>
                <li>2015</li>
                <li>2014</li>
                <li>2013</li>
            </ul>
        </div>
        <div class="calendar-list-days">
            <table>
                <tr>
                    <td></td>
                    <td>01</td>
                    <td class="active-blue">02</td>
                    <td>03</td>
                    <td>04</td>
                    <td class="current">05</td>
                    <td>06</td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>08</td>
                    <td>09</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td class="active-yellow">17</td>
                    <td>18</td>
                    <td class="active-purple">19</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>