<div class="row-block">
    <div class="content-block">
        <!--//-->

        <div class="page-leading-list uppercase">

            <!--// 0-ая строка ниже-->
            <div class="page-leading-list-div top">
                <div class="page-leading-list-div-div1 color-efefef">

                </div>
                <div class="page-leading-list-div-div2">
                    Наименование
                </div>
                <div class="page-leading-list-div-div3">
                    Начало
                </div>
                <div class="page-leading-list-div-div4">
                    Кол-во лотов
                </div>
                <div class="page-leading-list-div-div5">
                    Участников
                </div>
            </div>

            <!--// 1-ая строка ниже-->
            <div class="page-leading-list-div" ng-class="{'active':showProgress(auction.date)}" ng-repeat="auction in auctions" ui-sref="auction-leading({auctionId: auction.id})">
                <div class="color-background" >
                    <div class="page-leading-list-div-div1">
                        лого
                    </div>
                    <div class="page-leading-list-div-div11"></div>
                </div>
                <div class="page-leading-list-div-div2">
                    Аукционный дом {{auction.name}}
                    <div class="italic">
                        Ценные книги и рукописи
                    </div>
                </div>
                <div class="page-leading-list-div-div3">
                    <div ng-hide="showProgress(auction.date)">
                        {{auction.date | dateTimeFilter}}
                    </div>
                    <!--прогресс-бары-->
                    <div class="rom-container">
                        <div ng-show="showProgress(auction.date)">
                            <div class="room-list" ng-class="{'ll-open':open}">
                                <!--прогресс бары-->
                                <div class="progress-bar-circle-container">
                                    <div class="room_container-for-circles">
                                        <round-progress cclass="room-circle-bar"
                                                        max="24"
                                                        current="ch[$index]"
                                                        color="#162346"
                                                        bgcolor="#b5d8ba"
                                                        radius="35"
                                                        semi="false"
                                                        stroke="3"
                                                        rounded="false"
                                                        clockwise="true"
                                                        responsive="false"
                                                        duration="800"
                                                        animation="easeInOutQuart"
                                                        offset="0"
                                                        animation-delay="0">
                                        </round-progress>
                                        <div class="room-circle-bar-text">
                                            <div class="room-circle-bar-text-digit">{{ch[$index]}}</div>
                                            <div class="room-circle-bar-text-text">ЧАСОВ</div>
                                        </div>
                                    </div>

                                    <div class="room_container-for-circles">
                                        <round-progress class="room-circle-bar"
                                                        max="60"
                                                        current="min[$index]"
                                                        color="#162346"
                                                        bgcolor="#b5d8ba"
                                                        radius="35"
                                                        semi="false"
                                                        stroke="3"
                                                        rounded="false"
                                                        clockwise="true"
                                                        responsive="false"
                                                        duration="800"
                                                        animation="easeInOutQuart"
                                                        offset="0"
                                                        animation-delay="0">
                                        </round-progress>
                                        <div class="room-circle-bar-text">
                                            <div class="room-circle-bar-text-digit">{{min[$index]}}</div>
                                            <div class="room-circle-bar-text-text">МИНУТ</div>
                                        </div>
                                    </div>

                                    <div class="room_container-for-circles">
                                        <round-progress class="room-circle-bar"
                                                        max="60"
                                                        current="sec[$index]"
                                                        color="#162346"
                                                        bgcolor="#b5d8ba"
                                                        radius="35"
                                                        semi="false"
                                                        stroke="3"
                                                        rounded="false"
                                                        clockwise="true"
                                                        responsive="false"
                                                        duration="800"
                                                        animation="easeInOutQuart"
                                                        offset="0"
                                                        animation-delay="0">
                                        </round-progress>
                                        <div class="room-circle-bar-text">
                                            <div class="room-circle-bar-text-digit">{{sec[$index]}}</div>
                                            <div class="room-circle-bar-text-text">СЕКУНД</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-leading-list-div-div4">
                   {{auction.lots.length}}
                </div>
                <div class="page-leading-list-div-div5">
                </div>
            </div>

        </div>
        <!--//-->
    </div>
</div>





