
<!--стили и адаптивность как у /page-leading НО Должно быть 3 вкладки:-->

<!--1)Регистрации на аукцион:-->
<!--Табличка(верстать дивами) со столбцами:-->
<!--аукцион № - дата когда сделал - Фио - Телефон - Почта-->

<!--2)Ставка на ЛОТ,-->
<!--аналогично, столбцы:-->
<!--ЛОТ № - дата когда сделал - Название лота - Сумма - Фио - Телефон - Почта-->

<!--3)Результаты аукционов:-->
<!--Наименование - Завершился - Всего лотов- Продано лотов - Участников-->

<div  class="lk-list content-block">

    <div class="lk-body">
        <div class="lk-body-div-top">
            <ul class="lk-body-div-top-ul nav nav-tabs" role="tablist">
                <li ng-class="{'active':tab==='registrationForTheAuction'}"
                    ui-sref="{tab:'registrationForTheAuction'}">Регистрации на аукцион</li>
                <li ng-class="{'active':tab==='bidOnLot'}"
                    ui-sref="{tab:'bidOnLot'}">Ставка на ЛОТ</li>
                <li ng-class="{'active':tab==='resultsOfAuctions'}"
                    ui-sref="{tab:'resultsOfAuctions'}">Результаты аукционов</li>
            </ul>
        </div>
        <div class="tab-content">
            <!--=include tabs/*.html -->
        </div>
    </div>

</div>


