<div class="header-image row-block">
    <div class="content-block">
        <div class="header-image-top">
            Admingo
        </div>
        <div class="header-image-bottom">
            Система электронной интеграции аукционов
        </div>
    </div>
</div>
<div class="header-image-info row-block">
    <div class="content-block">
        <div class="header-image-info-top">
            Инфомация об аукционе
        </div>
        <div class="header-image-info-bottom">
            26 марта 2016 12:31:06
        </div>
    </div>
</div>