<!--div class="header-image row-block">
    <div class="content-block">
        <div class="header-image-top">
            art-bid
        </div>
        <div class="header-image-bottom">
            Система электронных аукционов
        </div>
    </div>
</div-->
<div class="header-image-info row-block">
    <div class="content-block">
        <div class="header-image-info-top">
            ПРЕДСТОЯЩИЕ АУКЦИОНЫ
        </div>
        <!--<div class="header-image-info-bottom">-->
            <!--Дата и время-->
        <!--</div>-->
    </div>
</div>