<div class="header-image row-block">
    <div class="content-block">
        <div class="header-image-top" style="font-size: 60px!important;">
            АНТИКВАРНЫЙ КНИЖНЫЙ КЛУБ
        </div>
        <div class="header-image-bottom">
            ТЕЛЕФОН ГОРЯЧЕЙ ЛИНИИ ДЛЯ УЧАСТИЯ: +7 (964) 789-5555
        </div>
    </div>
</div>
<div class="header-image-info row-block">
    <div class="content-block">
        <div class="header-image-info-top">
            ПРЕДСТОЯЩИЕ АУКЦИОНЫ
        </div>
        <!--<div class="header-image-info-bottom">-->
            <!--Дата и время-->
        <!--</div>-->
    </div>
</div>