<div  class="content-list content-block">
    <div class="filter">
        <div class="filter-info">
            <div class="filter-info-cl1">
                <div class="block-h2">АУКЦИОНЫ</div>
                <!--<div class="block-text">6 аукционов</div>-->
                <!--<img src="images/body-line.png">-->
            </div>

            <!--<div class="filter-info-cl2">-->
                <!--<div>-->
                    <!--<div class="block-h2">МЕСТО ПРОВЕДЕНИЯ</div>-->
                    <!--&lt;!&ndash;-->
                    <!--<div class="block-text">-->
                        <!--(доступно 4)-->
                        <!--<ul>-->
                            <!--<li class="count-0">-->
                                <!--<label><input type="checkbox"> Ghjkjh(0)</label>-->
                            <!--</li>-->
                            <!--<li >-->
                                <!--<input type="checkbox" checked> Ghdfjh(2)-->
                            <!--</li>-->
                            <!--<li >-->
                                <!--<input type="checkbox" checked> Fhjgjeeekjhg(3)-->
                            <!--</li>-->
                            <!--<li class="checkbox count-0">-->
                                <!--<input type="checkbox"> Jklkjhb(0)-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--&ndash;&gt;-->
                <!--</div>-->
                <!--<div>-->
                    <!--<div class="block-h2">ТЕМА АУКЦИОНА</div>-->
                    <!--&lt;!&ndash;-->
                    <!--<div class="block-text">-->
                        <!--(доступно 40)-->
                        <!--<ul>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Ghjkjh(0)-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<input type="checkbox" checked> Ghdfjh dskhsd kj kjsd jkjh(2)-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<input type="checkbox" checked> Fhjgje jhkjh kjk eekjhg(3)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Jklkjhb(0)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Jkl;l ;lklkok oko kjhb(0)-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<input type="checkbox" checked> Fhjgje jhkjh kjk eekjhg(5)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Jklkjhb(0)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Jkl;l ;lklkok oko kjhb(0)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Ghjkjh(0)-->
                            <!--</li>-->
                            <!--<li >-->
                                <!--<input type="checkbox" checked> Ghdfjh dskhsd kj kjsd jkjh(2)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Jkl;l ;lklkok oko kjhb(0)-->
                            <!--</li>-->
                            <!--<li >-->
                                <!--<input type="checkbox" checked> Fhjgje jhkjh kjk eekjhg(5)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Jkl;l ;lklkok oko kjhb(0)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Jkl;l ;lklkok oko kjhb(0)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Ghjkjh(0)-->
                            <!--</li>-->
                            <!--<li >-->
                                <!--<input type="checkbox" checked> Ghdfjh dskhsd kj kjsd jkjh(2)-->
                            <!--</li>-->
                            <!--<li >-->
                                <!--<input type="checkbox" checked> Fhjgje jhkjh kjk eekjhg(3)-->
                            <!--</li>-->
                            <!--<li >-->
                                <!--<input type="checkbox" checked> Fhjgje jhkjh kjk eekjhg(3)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Jklkjhb(0)-->
                            <!--</li>-->
                            <!--<li class="count-0">-->
                                <!--<input type="checkbox"> Jkl;l ;lklkok oko kjhb(0)-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <!--
        <div class="under-filter">
            <ul class="filter-country-select">
                <li> Москва </li>
                <li> Женева </li>
                <li> Гонконг </li>
                <li> Лондон </li>
                <li> Нью-Йорк </li>

                <li> Убрать все фильтры </li>
            </ul>
        </div>
        -->
    </div>
    <div class="auctions-list collapse in">
        <div class="auction row" ng-repeat="auction in auctionList">
            <div>
                <!--<div class="col-md-9" ui-sref="room({auctionId:auction.id})">-->
                <div class="col-md-9">
                    <div class="auction-img">
                        <img src="images/image-body-in.png">
                    </div>
                    <div class="auction-body">
                        <p class="auction-body-header">{{myDate(auction.date)}} | Москва | Online</p>
                        <p class="front-body-in-center-p2">Аукцион {{auction.number}}</p>
                        <p class="front-body-in-center-p3">Антикварный книжный клуб</p>
                        <p class="front-body-in-center-p4">Редкие и ценные книги, плакаты, открытки</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row" >
                        <div class="col-xs-4 col-md-12"><!-- $('#regUserAuction').modal('show'); -->
                            <div class="auction-button active" ng-show="notRegistr" ng-click="regist(auction.id,myDate(auction.date))">Регистрация</div>
                            <div class="auction-button active" ng-hide="notRegistr" data-toggle="modal" ng-click="selectedAuctionInMain.setId(auction.id)" data-target="#loginModal">Регистрация</div>
                        </div>
                        <div class="col-xs-4 col-md-12"><div class="auction-button" ui-sref="auction({open:1,auctionId:auction.id})">Просмотр каталога</div></div>
                        <!--<div class="col-xs-4 col-md-12"><div class="auction-button">Добавить в календарь</div></div>-->
                        <a class="col-xs-4 col-md-12" href="/images/pdf/abc_auction_{{auction.number}}.pdf" target="_blank"><div class="auction-button">Распечатать каталог</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="filter-bottom" onclick="$('.auctions-list').collapse('toggle')">-->
        <!--<div class="filter-bottom-div">-->
            <!--<div class="filter-bottom-div-left">Показать архивные</div>-->
            <!--<div class="filter-bottom-div-right"><img src="images/down-arrow2.png"></div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="auctions-list auctions-list-archive collapse">
        <div class="auction row" ng-repeat="i in [1,2,3,4,5,6,7,8]">
            <div>
                <div class="col-md-9">
                    <div class="auction-img">
                        <img src="images/image-body-in.png">
                    </div>
                    <div class="auction-body">
                        <p class="auction-body-header">19 Февраля 2016 в 19:00 | Москва | Гостинница Украина</p>
                        <p class="front-body-in-center-p2">Аукцион 2</p>
                        <p class="front-body-in-center-p3">Антикварный книжный клуб</p>
                        <p class="front-body-in-center-p4">Редкие и ценные книги, плакаты, открытки</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-xs-4 col-md-12">
                            <div class="auction-button active" data-toggle="modal" data-target="#reg-for-the-auction">Регистрация</div>
                        </div>
                        <div class="col-xs-4 col-md-12"><div class="auction-button" ui-sref="auction({open:1})">Просмотр каталога</div></div>
                        <div class="col-xs-4 col-md-12"><div class="auction-button">Добавить в календарь</div></div>
                        <div class="col-xs-4 col-md-12"><div class="auction-button">Распечатать каталог</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 	<!--<div class="bottom-on-top">-->
		<!--<a href="#top" title="Наверх"><img src="images/bottom-on-top.png"></a>-->
	<!--</div>-->
</div>