<div class="row-block">
    <div class="content-block">
        <!--//-->



        <div class="pageAuctionLeading row">
            <div class="pageAuctionLeading-left col-xs-2">
                Левая колонка
                <div>
                    Сеть
                </div>
                <div>
                    Зал
                </div>
            </div>
            <div class="pageAuctionLeading-right col-xs-10">
                Правая колонка
                <div>
                    2-е кнопки наверху страницы
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        40 000 000
                    </div>
                    <div class="col-xs-2">
                        Следующий бид!
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-2">
                            Лот 364
                        </div>
                        <div class="col-xs-5">
                            5 изображений
                        </div>
                        <div class="col-xs-5">
                            Колонка с видео и присутствующеми в зале
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-7">
                            Чат
                        </div>
                        <div class="col-xs-5">
                            Лоты
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--//-->
    </div>
</div>