<div class="row-block">
    <div class="content-block-full">

        <div class="pageAuctionLeading row">
            <div class="pageAuctionLeading-left col-xs-3">
                <div class="pageAuctionLeading-left-in">
                    <div class="pageAuctionLeading-left-in-title">
                        Сеть
                    </div>
                    <div class="pageAuctionLeading-left-in-text" ng-repeat="user in users">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№{{getUserNumber(user.id)}}</b> {{user.firstName}} {{user.lastName}} {{user.patronymic}}
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>

                </div>
                <!--<div class="pageAuctionLeading-left-in">-->
                <!--<div class="pageAuctionLeading-left-in-title">-->
                <!--Зал-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text">-->
                <!--<div class="pageAuctionLeading-left-in-text-numberAndName">-->
                <!--<b>№61</b> Зведущая И.М.-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text-circleColor">-->
                <!--<img src="images/circle-green.png">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text">-->
                <!--<div class="pageAuctionLeading-left-in-text-numberAndName color-yellow">-->
                <!--<b>№40</b> Пономарев И.Г.-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text-circleColor">-->
                <!--<img src="images/circle-yellow.png">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text">-->
                <!--<div class="pageAuctionLeading-left-in-text-numberAndName">-->
                <!--<b>№60</b> Апрелев С.М.-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text-circleColor">-->
                <!--<img src="images/circle-green.png">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text">-->
                <!--<div class="pageAuctionLeading-left-in-text-numberAndName">-->
                <!--<b>№389</b> Ведерникова Г.И.-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text-circleColor">-->
                <!--<img src="images/circle-green.png">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text">-->
                <!--<div class="pageAuctionLeading-left-in-text-numberAndName">-->
                <!--<b>№236</b> Порной У.Е.-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text-circleColor">-->
                <!--<img src="images/circle-green.png">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text">-->
                <!--<div class="pageAuctionLeading-left-in-text-numberAndName color-red">-->
                <!--<b>№40</b> Пономарев И.Г.-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text-circleColor">-->
                <!--<img src="images/circle-red.png">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text">-->
                <!--<div class="pageAuctionLeading-left-in-text-numberAndName">-->
                <!--<b>№61</b> Зведущая И.М.-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text-circleColor">-->
                <!--<img src="images/circle-green.png">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text">-->
                <!--<div class="pageAuctionLeading-left-in-text-numberAndName">-->
                <!--<b>№236</b> Порной У.Е.-->
                <!--</div>-->
                <!--<div class="pageAuctionLeading-left-in-text-circleColor">-->
                <!--<img src="images/circle-green.png">-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>

            <div class="pageAuctionLeading-right col-xs-9">
                <div>
                    <!--2-е кнопки наверху страницы - лот продан, снять лот-->
                    <div class="auction-button-remove" ng-click="sold(isSold, true)" ng-show="cleanLot">Снять лот</div>
                    <div class="auction-button-sale" ng-click="sold(true,isClean)"ng-show="auctionOn">Лот продан</div>
                </div>
                <div class="pageAuctionLeading-right-top row">
                    <div class="pageAuctionLeading-right-top-left col-md-8">
                        <div class="pageAuctionLeading-right-top-left-top" ng-show="price && userNumber && userData">
                            {{price.toLocaleString() + 'руб'}}
                            <p>{{'№' + userNumber}} {{userData}}</p>
                            <!--<div class="bottom">{{lot.sellingPrice.toLocaleString()}} руб</div>-->
                            <!--{{lotList.estimateFrom + ' - ' + lotList.estimateTo}}-->
                        </div>
                        <!--<br><br>-->
                        <!--lastBid-{{lastBid}}-->
                        <!--<br><br>-->
                        <!--price-{{price}}-->
                        <!--<br><br>-->
                        <!--priceNext-{{priceNext}}-->
                        <!--<br><br>-->
                        <!--userNumber-{{userNumber}}-->
                        <!--<br><br>-->
                        <!--userData-{{userData}}-->
                        <!--<br><br>-->
                    </div>
                    <div class="pageAuctionLeading-right-top-right col-md-4">
                        <div class="pageAuctionLeading-right-top-right-top">
                            Следующий бид!
                            <div>
                                {{(priceNext).toLocaleString()}} руб
                            </div>
                            <input type="text"
                                   ng-model="numberLot"
                                   ng-keyup="sendFilter($event)"
                                   class="form-control">
                        </div>
                        <div class="pageAuctionLeading-right-top-right-bottom">
                            <!--40 000 100-->
                            {{(lot.sellingPrice+calcStep(lot.sellingPrice)).toLocaleString()}}
                        </div>
                        <br>
                        <div ng-show="fuckStop">
                        <label for="date" class=""> Дата начала аукциона</label>
                        <input type="text" ng-model="dateStart" class="form-control" id="date" ng-show="fuckStop">
                        <button ng-click="dateStartAuction()" ng-show="fuckStop">Сохранить</button>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <!--{{lot}}-->
                <div class="pageAuctionLeading-right-center row">
                    <div class="pageAuctionLeading-right-center-left col-md-4">
                        <div class="pageAuctionLeading-right-center-left-top">
                            Лот № {{lotList.number}}
                        </div>
                        <div class="pageAuctionLeading-right-center-left-undertop">
                            <p ng-repeat="str in descriptionPrevArr">{{str}}</p>
                        </div>
                        <div class="pageAuctionLeading-right-center-left-bottom">
                            <!--<div>-->
                                <!--&lt;!&ndash;150 000 000 руб&ndash;&gt;-->
                                <!--{{lot.estimateTo.toLocaleString()}}-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<img src="images/triangle-red-up.png">-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--&lt;!&ndash;30 000 000 руб&ndash;&gt;-->
                                <!--{{lotList.estimateFrom}}-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="pageAuctionLeading-right-center-center col-md-4">
                        <div class="pageAuctionLeading-right-center-center-gallery">
                            <div class="gallery-div" ng-repeat="img in lotImage" ng-if="img.fileName !== null">
                                <img src="images/lot-images/{{img.fileName}}" style="width: 100px;height: 132px;">
                                <div class="check">
                                    <img src="images/OK-green.png">
                                </div>
                        </div>
                            </div>
                        <div class="pageAuctionLeading-right-center-center-bottom">
                            <!--<div class="pageAuctionLeading-right-center-center-bottom-time">-->
                                <!--0:08 мин-->
                            <!--</div>-->
                            <!--<div class="pageAuctionLeading-right-center-center-bottom-pause">-->
                                <!--<img src="images/previous.png">-->
                                <!--<img src="images/stop.png">-->
                                <!--<img src="images/next.png">-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="pageAuctionLeading-right-center-right col-md-4">
                        <div class="pageAuctionLeading-right-center-right-camera">
                            <video id="localVideo" autoplay></video>

                            <button ng-click="prepare()">Включить камеру</button>
                            <button ng-click="start()">Начать аукцион</button>
                            <button ng-click="reloadPage()">Завершить аукцион</button>
                        </div>
                        <!--<div class="pageAuctionLeading-right-center-right-textTop">-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in">  -->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in-text">-->
                        <!--<b>№60</b> Апрелев С.М.-->
                        <!--</div>-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in-time">-->
                        <!--0,3с-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in">-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in-text">-->
                        <!--<b>№389</b> Ведерникова Г.И.-->
                        <!--</div>-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in-time color-red">-->
                        <!--65с-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in">-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in-text">-->
                        <!--<b>№236</b> Порной У.Е.-->
                        <!--</div>-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in-time">-->
                        <!--0,1с-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in">-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in-text">-->
                        <!--<b>№40</b> Пономарев И.Г.-->
                        <!--</div>-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in-time">-->
                        <!--0,7с-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in">-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in-text">-->
                        <!--<b>№61</b> Зведущая И.М.-->
                        <!--</div>-->
                        <!--<div class="pageAuctionLeading-right-center-right-textTop-in-time">-->
                        <!--0,01с-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="pageAuctionLeading-right-center-right-textBottom" ng-if="userNumber && userData && price">
                            <div class="top">Зал</div>
                            <div class="center"><b>{{'№' + userNumber}}</b><br>{{userData}}</div>
                            <div class="bottom">{{price.toLocaleString() + 'руб'}}</div>
                        </div>
                    </div>
                </div>

                <div class="pageAuctionLeading-right-bottom row">
                    <div class="pageAuctionLeading-right-bottom-left col-md-7">

                        <!--чат-->
                        <div class="input-group">
                        <input class="form-control"
                               type="text"
                               placeholder="СООБЩЕНИЕ"
                               id="write-message"
                               ng-model="chat.message"
                               ng-keyup="chat.keyUp($event)">
                        <span class="input-group-btn">
                            <button class="button btn"
                                    type="submit"
                                    ng-click="chat.addMessage()">
                                ОТПРАВИТЬ
                            </button>
                        </span>
                            </div>
                        <div class="pageAuctionLeading-right-bottom-left-chat">
                            <div class="pageAuctionLeading-right-bottom-left-chat-text">
                                <div class="room-chat-leading">
                                <div ng-repeat="chatMessage in chat.messages">
                                    <div class=""><b>{{chatMessage.user.firstName}} {{chatMessage.user.lastName}}</b>
                                        : {{chatMessage.message}}
                                    </div>
                                </div>
                                    </div>
                            </div>
                            <div class="pageAuctionLeading-right-bottom-left-chat-cross">
                            </div>
                        </div>
                    </div>
                    <div class="pageAuctionLeading-right-bottom-right col-md-5">
                        <div class="grey" ng-repeat="bid in bids">
                            <div>
                                Лот {{bid.lot.number}}
                            </div>
                            <div>
                                Интернет
                            </div>
                            <div class="name">
                                {{bid.user.firstName}} {{bid.user.lastName}} {{bid.user.patronymic}}
                            </div>
                            <div>
                                {{bid.price | toLocaleString}}
                            </div>
                        </div>
                        <!--<div class="grey">-->
                            <!--<div>-->
                                <!--Лот 33-->
                            <!--</div>-->
                            <!--<div>-->
                                <!-- -&#45;&#45;-->
                            <!--</div>-->
                            <!--<div class="name">-->
                                <!-- -&#45;&#45;-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--80 000 000р-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="black">-->
                            <!--<div>-->
                                <!--Лот 32-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--Сейчас-->
                            <!--</div>-->
                            <!--<div class="name">-->
                                <!--Аргосян С.Е.-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--40 000 000р-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="green">-->
                            <!--<div>-->
                                <!--Лот 31-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--Зал-->
                            <!--</div>-->
                            <!--<div class="name">-->
                                <!--Порной У.Е.-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--26 000р-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="red">-->
                            <!--<div>-->
                                <!--Лот 30-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--Не прод.-->
                            <!--</div>-->
                            <!--<div class="name">-->
                                <!-- -&#45;&#45;-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--30 000р-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="green">-->
                            <!--<div>-->
                                <!--Лот 29-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--Инет-->
                            <!--</div>-->
                            <!--<div class="name">-->
                                <!--Апрелев С.М.-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--80 000р-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--//-->
    </div>
</div>