<div class="row-block">
    <div class="content-block-full">
        <!--//-->

        <div class="pageAuctionLeading row">
            <div class="pageAuctionLeading-left col-xs-3">
                <div class="pageAuctionLeading-left-in">
                    <div class="pageAuctionLeading-left-in-title">
                        Сеть
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№60</b> Апрелев С.М.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№389</b> Ведерникова Г.И.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№236</b> Порной У.Е.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№40</b> Пономарев И.Г.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№61</b> Зведущая И.М.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                </div>
                <div class="pageAuctionLeading-left-in">
                    <div class="pageAuctionLeading-left-in-title">
                        Зал
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№61</b> Зведущая И.М.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName color-yellow">
                            <b>№40</b> Пономарев И.Г.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-yellow.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№60</b> Апрелев С.М.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№389</b> Ведерникова Г.И.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№236</b> Порной У.Е.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName color-red">
                            <b>№40</b> Пономарев И.Г.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-red.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№61</b> Зведущая И.М.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                    <div class="pageAuctionLeading-left-in-text">
                        <div class="pageAuctionLeading-left-in-text-numberAndName">
                            <b>№236</b> Порной У.Е.
                        </div>
                        <div class="pageAuctionLeading-left-in-text-circleColor">
                            <img src="images/circle-green.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="pageAuctionLeading-right col-xs-9">
                <div>
                    2-е кнопки наверху страницы - лот продан, снять лот
                </div>
                <div class="pageAuctionLeading-right-top row">
                    <div class="pageAuctionLeading-right-top-left col-md-8">
                        <div class="pageAuctionLeading-right-top-left-top">
                            40 000 000 руб
                        </div>
                        <div class="pageAuctionLeading-right-top-left-bottom">
                            №36 Аргосян С.Е.
                        </div>
                    </div>
                    <div class="pageAuctionLeading-right-top-right col-md-4">
                        <div class="pageAuctionLeading-right-top-right-top">
                            Следующий бид!
                        </div>
                        <div class="pageAuctionLeading-right-top-right-bottom">
                            40 000 100
                        </div>
                    </div>
                </div>
                <div class="pageAuctionLeading-right-center row">
                    <div class="pageAuctionLeading-right-center-left col-md-2">
                        <div class="pageAuctionLeading-right-center-left-top">
                            Лот 364
                        </div>
                        <div class="pageAuctionLeading-right-center-left-undertop">
                            Библия на старославянском языке
                        </div>
                        <div class="pageAuctionLeading-right-center-left-bottom">
                            <div>
                                150 000 000 руб
                            </div>
                            <div>
                                <img src="images/triangle-red-up.png">
                            </div>
                            <div>
                                30 000 000 руб
                            </div>
                        </div>
                    </div>
                    <div class="pageAuctionLeading-right-center-center col-md-5">
                        <div class="pageAuctionLeading-right-center-center-gallery">
                            <div class="gallery-div">
                                <img src="images/image-book.png">
                                <div class="check">
                                    <img src="images/OK-green.png">
                                </div>
                            </div>
                            <div class="gallery-div">
                                <img src="images/image-book.png">
                                <div class="check">
                                    <img src="images/OK-green.png">
                                </div>
                            </div>
                            <div class="gallery-div">
                                <img src="images/image-book.png">
                                <div class="check">
                                </div>
                                <div class="noeye">
                                </div>
                            </div>
                            <div class="gallery-div">
                                <img src="images/image-book.png">
                                <div class="check">
                                </div>
                                <div class="noeye">
                                </div>
                            </div>
                            <div class="gallery-div">
                                <img src="images/image-book.png">
                                <div class="check">
                                    <img src="images/OK-green.png">
                                </div>
                            </div>
                        </div>
                        <div class="pageAuctionLeading-right-center-center-bottom">
                            <div class="pageAuctionLeading-right-center-center-bottom-time">
                                0:08 мин
                            </div>
                            <div class="pageAuctionLeading-right-center-center-bottom-pause">
                                <img src="images/previous.png">
                                <img src="images/stop.png">
                                <img src="images/next.png">
                            </div>
                        </div>
                    </div>
                    <div class="pageAuctionLeading-right-center-right col-md-5">
                        <div class="pageAuctionLeading-right-center-right-camera">
                            <img src="images/camera.png">
                        </div>
                        <div class="pageAuctionLeading-right-center-right-textTop">
                            <div class="pageAuctionLeading-right-center-right-textTop-in">
                                <div class="pageAuctionLeading-right-center-right-textTop-in-text">
                                    <b>№60</b> Апрелев С.М.
                                </div>
                                <div class="pageAuctionLeading-right-center-right-textTop-in-time">
                                    0,3с
                                </div>
                            </div>
                            <div class="pageAuctionLeading-right-center-right-textTop-in">
                                <div class="pageAuctionLeading-right-center-right-textTop-in-text">
                                    <b>№389</b> Ведерникова Г.И.
                                </div>
                                <div class="pageAuctionLeading-right-center-right-textTop-in-time">
                                    65с
                                </div>
                            </div>
                            <div class="pageAuctionLeading-right-center-right-textTop-in">
                                <div class="pageAuctionLeading-right-center-right-textTop-in-text">
                                    <b>№236</b> Порной У.Е.
                                </div>
                                <div class="pageAuctionLeading-right-center-right-textTop-in-time">
                                    0,1с
                                </div>
                            </div>
                            <div class="pageAuctionLeading-right-center-right-textTop-in">
                                <div class="pageAuctionLeading-right-center-right-textTop-in-text">
                                    <b>№40</b> Пономарев И.Г.
                                </div>
                                <div class="pageAuctionLeading-right-center-right-textTop-in-time">
                                    0,7с
                                </div>
                            </div>
                            <div class="pageAuctionLeading-right-center-right-textTop-in">
                                <div class="pageAuctionLeading-right-center-right-textTop-in-text">
                                    <b>№61</b> Зведущая И.М.
                                </div>
                                <div class="pageAuctionLeading-right-center-right-textTop-in-time">
                                    0,01с
                                </div>
                            </div>
                        </div>
                        <div class="pageAuctionLeading-right-center-right-textBottom">
                            <p class="top">Зал</p>
                            <p class="center">№36 Аргосян С.Е.</p>
                            <p class="bottom">40 000 000 руб</p>
                        </div>
                    </div>
                </div>
                <div class="pageAuctionLeading-right-bottom row">
                    <div class="pageAuctionLeading-right-bottom-left col-md-7">
                        <p><input></p>
                    </div>
                    <div class="pageAuctionLeading-right-bottom-right col-md-5">
                        <div>
                            <div>
                                Лот 34
                            </div>
                            <div>
                                ---
                            </div>
                            <div>
                                Апрелев С.М. (заоч)
                            </div>
                            <div>
                                80 000р
                            </div>
                        </div>
                        <div>
                            <div>
                                Лот 34
                            </div>
                            <div>
                                ---
                            </div>
                            <div>
                                Апрелев С.М. (заоч)
                            </div>
                            <div>
                                80 000р
                            </div>
                        </div>
                        <div>
                            <div>
                                Лот 34
                            </div>
                            <div>
                                ---
                            </div>
                            <div>
                                Апрелев С.М. (заоч)
                            </div>
                            <div>
                                80 000р
                            </div>
                        </div>
                        <div>
                            <div>
                                Лот 34
                            </div>
                            <div>
                                ---
                            </div>
                            <div>
                                Апрелев С.М. (заоч)
                            </div>
                            <div>
                                80 000р
                            </div>
                        </div>
                        <div>
                            <div>
                                Лот 34
                            </div>
                            <div>
                                ---
                            </div>
                            <div>
                                Апрелев С.М. (заоч)
                            </div>
                            <div>
                                80 000р
                            </div>
                        </div>
                        <div>
                            <div>
                                Лот 34
                            </div>
                            <div>
                                ---
                            </div>
                            <div>
                                Апрелев С.М. (заоч)
                            </div>
                            <div>
                                80 000р
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--//-->
    </div>
</div>