<modal title="Вход на аукцион" id="auctionIn">
    <div>
        <!--{{currentUserInfo}}-->
        <!--{{selectedAuctionInMainId}}-->
        <div class="text-info text-center">
            <div ng-show="currentUserInfo.password != auctionInPassword">
                <b style="font-size: 20px">Для входа на аукцион введите ваш пароль:</b>
            </div>
            <div ng-show="currentUserInfo.password == auctionInPassword">
                <b style="font-size: 20px">Доступ в аукцион открыт:</b>
            </div>
<br>

        <input class="custom-input" placeholder="Пароль" type="password" id="auctionInPassword" ng-model="auctionInPassword">
    <!--</div>-->
            <!--<b style="font-size: 20px">-->
                <!--Вы зарегистрованы на аукцион {{selectedAuctionInMain.number}} который состоится <br> {{selectedAuctionInMain.date}}-->
            <!--</b>-->
        </div><br>
        <div class="auction-button active" ng-show="currentUserInfo.password == auctionInPassword" ng-click="regist(selectedAuctionInMainId,myDate(auction.date));" ui-sref="room({auctionId:selectedAuctionInMainId})">Войти в аукцион</div>
    </div>
</modal>