<modal title="Вход на аукцион" id="auctionIn">
    <div>
        <!--{{currentUserInfo}}-->
        <!--{{selectedAuctionInMainId}}-->
        <div class="text-info text-center">
            <div>
                <b style="font-size: 20px">Для входа на аукцион введите ваш пароль:</b>
            </div>
            <div ng-show="invalidPassword">
                <b style="font-size: 20px">Неверный пароль!</b>
            </div>
<br>

        <input class="custom-input" placeholder="Пароль" type="password" id="auctionInPassword" ng-model="auctionInfo.password">
    <!--</div>-->
            <!--<b style="font-size: 20px">-->
                <!--Вы зарегистрованы на аукцион {{selectedAuctionInMain.number}} который состоится <br> {{selectedAuctionInMain.date}}-->
            <!--</b>-->
        </div><br>
        <div class="auction-button active"  ng-click="regist(selectedAuctionInMainId,myDate(auction.date));" >Войти в аукцион</div>
    </div>
</modal>