
<modal title="Удаление аукциона" id="delete-auction" width="lg">
    <!--<div class="custom-title-block">-->
    <!--<div class="custom-title-block-h1">Импорт лотов из CSV</div>-->
    <!--</div>-->
    <br>
    <div class="row">
        <div class="custom-title-block">
            Вы дейтвительно хотите удалить этот аукцион?
        </div>

        <div class="col-sm-offset-3">
            <div class="button btn-danger custom-title-block col-sm-3" ng-click="editAuction(true, auctionIdForEdit.id)">
                Да
            </div>
            <div class="button custom-title-block col-sm-offset-1 col-sm-3" data-dismiss="modal">
                Нет
            </div>
        </div>

    </div>

</modal>