<modal title="Импорт лотов из файла" id="import-CSV" width="lg">
    <div class="custom-title-block">
        <div class="custom-title-block-h1">Импорт лотов из CSV</div>
    </div>
    <input id="selectCSV" type="file" nv-file-select="" uploader="uploader" name="CSVfile" ng-hide="true"/>
    <div class="button btn-primary" onclick="$('#selectCSV').click()">Загрузить CSV</div>
    <div class="button btn-danger" ng-click="createNewLotFromCSV()">Импорт</div>

    ['auctionName', 'id', 'lotNumber', 'description', 'estimate', 'sellingPrice', 'year', 'titlePic', 'gallery']

<div ng-show="CSVParsedFile">
    {{CSVParsedFile}}
    <table>
        <!--<tr>-->
            <!--<td></td>-->
            <!--<td><b>ФИО:</b></td>-->
            <!--<td><b>Логин:</b></td>-->
            <!--<td><b>Пароль:</b></td>-->
            <!--<td><b>Телефон:</b></td>-->
            <!--<td><b>e-mail:</b></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>В файле записей: {{CSVParsedFile.length}} | Обработано: {{CSVParsedFile.length}}</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="oneRowFromCSV in CSVParsedFile">-->
            <!--<td>{{$index+1}}</td>-->
            <!--<td>{{oneRowFromCSV.auctionName}}</td>-->
            <!--<td>{{oneRowFromCSV.id}}</td>-->
            <!--<td>{{oneRowFromCSV.lotNumber}}</td>-->
            <!--<td height="100px" overflow ="hidden">{{oneRowFromCSV.description}}</td>-->
            <!--<td>{{oneRowFromCSV.estimate}}</td>-->
            <!--<td>{{oneRowFromCSV.sellingPrice}}</td>-->
            <!--<td>{{oneRowFromCSV.year}}</td>-->
            <!--<td>{{oneRowFromCSV.titlePic}}</td>-->
            <!--<td>{{oneRowFromCSV.gallery}}</td>-->
        <!--</tr>-->
    </table>
</div>
</modal>