<modal title="Загрузка файлов" id="import-CSV" width="lg">
    <!--<div class="custom-title-block">-->
    <!--<div class="custom-title-block-h1">Импорт лотов из CSV</div>-->
    <!--</div>-->
    <br>
    <div class="row">
        <input id="selectCSV" type="file" nv-file-select="" uploader="uploader" name="CSVfile" ng-hide="true"/>
        <div class="button custom-title-block col-sm-offset-4 col-sm-4" onclick="$('#selectCSV').click()"
             ng-show="!CSVAdded">Выбрать CSV
        </div>

        <div class="button btn-danger custom-title-block col-sm-offset-4 col-sm-4" ng-click="createNewLotFromCSV()"
             ng-show="CSVAdded && addLotBtn">Добавить лоты
        </div>
    </div>
    <div class="row">
        <div class=" col-sm-offset-3 col-sm-8" ng-show="fileAddedInBase">
            <div>
                Сохраняю в базу лот №: {{fileAddedInBase.newLot.number}}, всего сохранено {{rowsCreated}} записей из
                {{CSVParsedFile.length}}
            </div>
            <br>
            <div ng-show="pictureRowAddedFromCSV">
                Обновляю связь лота {{pictureRowAddedFromCSV.pictureRow.lotId}} с картинкой:
                {{pictureRowAddedFromCSV.pictureRow.originalName}}.
                <!--{{countReportPic}} из {{countOfgalleryPicArr}}-->
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <input id="selectPhoto" type="file" nv-file-select="" uploader="lotPicUploader" multiple name="PhotoFiles"
               ng-hide="true"/>
        <div class="button custom-title-block col-sm-offset-4 col-sm-4" onclick="$('#selectPhoto').click()"
             ng-show="!picturesAdded">Выбрать фотографии
        </div>
        <!--<div class="progress" style="">-->
        <!--<div class="progress-bar" role="progressbar" ng-style="{ 'width': lotPicUploader.progress + '%' }"></div>-->
        <!--</div>-->
    </div>
    <div class="row">
        <div class="button btn-danger custom-title-block col-sm-offset-4 col-sm-4" ng-click="lotPicUploader.uploadAll()"
             ng-disabled="!lotPicUploader.getNotUploadedItems().length" ng-show="picturesAdded">
            Добавить фотографии
        </div>
    </div>

    <br>
    <div class="row">
        <div class=" col-sm-offset-3 col-sm-8" ng-show="addedPic">
            <!--Сохраняю фотографии на сервер:<br>-->
            {{addedPic}}
            {{pictureUpdatedName}}
            Записываю фотографию к лоту №: <br>
        </div>
    </div>
</modal>