<div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title">Вход/Регистрация</span>
            </div>
			<div id="loginModal">
				<div class="modal-body">				
					<div class="modal-body-in">
						<div class="modal-body-in-left">
							<div class="modal-body-in-left-vxod">							

								<form class="modal-body-in-left-vxod-form">
									<input id="userEmail" placeholder="Email" type="text">   
									<input id="password" placeholder="Пароль" type="password">								
									<input id="submit" value="Войти" type="submit">								
									<div class="modal-body-in-left-vxod-form-div">
										<div class="modal-body-in-left-vxod-form-div-left">
											<label>										
											<input type="checkbox" name="remember_me" id="remember_me">
											<!-- 
												<input id="check1" type="checkbox" name="check" value="check1">
												<label for="check1">Checkbox No. 1</label>
												<br>
												<input id="check2" type="checkbox" name="check" value="check2">
												<label for="check2">Checkbox No. 2</label>
											-->											
											Запомнить меня
											</label>
											
										</div>
										<div class="modal-body-in-left-vxod-form-div-right">
											<a href="">Забыли пароль?</a>
										</div>
									</div>											
								</form>

							</div>
						</div>
						<div class="modal-body-in-right">
							<div class="modal-body-in-right-top">
								<div class="modal-body-in-right-top-top">
									Добро пожаловать если вы
								</div>
								<div class="modal-body-in-right-bottom">
									Новый покупатель
								</div>
							</div>
							<div>
								форма
							</div>
							<div>
								тест под формой
							</div>
							<div>
								Создать учетную запись
							</div>
						</div>
					</div>
				</div>
				
				<!-- две кнопки внизу начало
                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#reg-auction-house">Регистрация аукционного дома</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Регистрация покупателя</button>
				две кнопки внизу начало конец-->
            </div>
        </div>
    </div>
</div>