<modal title="Регистрация аукционного дома" id="reg-auction-house">
    <!--
	<p>One fine body&hellip;</p>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">11Save changes</button>
	-->
	<div class="custom-btn-lg">
		Аукционный дом
	</div>
	<form class="row-block">
		<div class="form-reg">
			<label><input class="custom-input one-input-two" placeholder="Имя" type="text"></label>
			<input class="custom-input one-input-two" placeholder="Отчество" type="text">
			<label class="shirt-margin"><input class="custom-input" placeholder="Фамилия" type="text"></label> 
			<label><input class="custom-input one-input-two" placeholder="E-mail" type="text"></label>
			<label><input class="custom-input one-input-two" placeholder="Телефон" type="password"></label>
			<input class="custom-input custom-input-padding kod" placeholder="Код подтверждения" type="password">
			<label><input class="custom-input one-input-two" placeholder="Пароль" type="password"></label>
			<label><input class="custom-input one-input-two" placeholder="Подтвердите пароль" type="password"></label>		
			<div class="form-reg-checkbox">			
				<label>
					<input type="checkbox" name="remember_me" id="remember_me">
					Я принимаю условия
				</label>
				<label>
					<input type="checkbox" name="remember_me" id="remember_me">
					Я хочу получать сообщения от admingo
				</label>
			</div>
			<input class="custom-title-block" value="Отправить" type="submit">
		</div>		
	</form>	


	
	
</modal>