<modal title="Регистрация покупателя на аукцион" id="reg-for-the-auction" width="lg">
    <!--
	<p>One fine body&hellip;</p>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">11Save changes</button>
	-->
	<div class="custom-title-block">
		<div class="modal-body-in-right-top-top custom-title-block-h3">
			Добро пожаловать если вы
		</div>
		<div class="modal-body-in-right-top-bottom custom-title-block-h1">
			Новый покупатель
		</div>
	</div>
	<div class="modal-body-in-right-form">

		<form class="modal-body-in-right-form-reg">
			<div class="row row-sm">
				<div class="col col-md-4"><label class="custom-input"><input placeholder="Имя" type="text" ng-model="regUserData.firstName"></label></div>
				<div class="col col-md-4"><label class="custom-input"><input placeholder="Фамилия" type="text" ng-model="regUserData.lastName"></label></div>
				<div class="col col-md-4"><input class="custom-input" placeholder="Отчество" type="text" ng-model="regUserData.patronymic"></div>
			</div>
			<div class="row row-sm">
				<div class="col col-md-4"><label class="custom-input"><input placeholder="E-mail" type="text" ng-model="regUserData.email"></label></div>
				<div class="col col-md-4"><label class="custom-input"><input placeholder="Телефон" type="text" ng-model="regUserData.phone"></label></div>
				<div class="col col-md-4">
					<!--<input class="custom-input reg-form-input-padding" placeholder="Код подтверждения" type="password" ng-model="regUserData.confirmationCode">-->
				</div>
			</div>
			<div class="row row-sm">
				<div class="col col-md-4"><label class="custom-input"><input placeholder="Пароль" type="password" ng-model="regUserData.password"></label></div>
				<div class="col col-md-4"><label class="custom-input" ng-class=""><div ng-show="regUserData.confirmationPassword != regUserData.password">NO</div><input placeholder="Подтвердите пароль" type="password" ng-model="regUserData.confirmationPassword"></label></div>
			</div>
			<div class="modal-body-in-right-form-reg-bottom">
				<div class="checkbox">
					<input type="checkbox" id="remember_me1" ng-model="regUserData.acceptTerms"><label for="remember_me1">Я принимаю условия</label>
				</div>
				<div class="checkbox">
					<input type="checkbox" id="remember_me2" ng-model="regUserData.receiveMessages"><label for="remember_me2">Я хочу получать сообщения от АртБид</label>
				</div>
			</div>

		</form>

		<div id="div-text">
			Регистрируясь на АртБид, вы сможете:
			<ul>
				<li>Иметь доступ к отчетам о состоянии
				<li>Смотреть Live Аукционы
				<li>Подписаться на уведомление о продаже лотов
				<li>Создавать списки пожеланий
				<li>Отслеживать продажи
				<li>Получать Рекомендации
			</ul>
		</div>

	</div>
	<div class="custom-btn-lg btn-block" data-dismiss="modal" ng-click="createUser(4)">
		<!--<div class="custom-btn-lg btn-block" ui-sref="lk" data-dismiss="modal" ng-click="createUser()">-->
		Создать учетную запись
	</div>
</modal>