.auction-header {
	@extend .content-block;
	text-align: center;
	height: auto;
	padding: 15px;
	font: {
		family: "Century Gothic";
		size: 35px;
		weight: normal;
	}
	.info-top{
		color: #d8a46a;
		font-size: 28px;
		font-weight: 700;
		text-transform: uppercase;

	}
	.info-bottom{
		padding-bottom: 15px;
		color: #fff;
		font-size: 40px;
	}
	.edit{
		width: 30px;
		height: 30px;
		padding: 0px;
		position: relative;
		float: right;
		top: 60px;
		background: {
			image: url(/images/icons-auction/i-edit.png);
			repeat: no-repeat;
			position: 0px 0px;
		}
		&:hover{background-position: -30px 0px;	}
	}
}

.auction-list {
	@extend .content-block;
	padding-top: 2px;
	height: auto;
	@include padding-horizontal(15px);
	.c-panel{
		position: relative;
		margin: 2px 0px 2px 0px;
		padding: 0px;// 2px; //для рамочки
		width: 100%;
		height: 62px;
		border-bottom: 2px solid black;
		background: white;
		font-size: 24px;
		%mode{

			position: relative;
			width: 40px;
			height: 40px;
			float: right;
			top: 0px;
			margin: 10px auto;
			text-align: center;
			margin: 12px 10px 0 0;
			padding: 12px 0px 0px 24px;
			border-radius: 5px;
			background: {
				repeat: no-repeat;
				position: -40px 0px;
			}
			&:hover {background-color: #E0E0E0}
		}
		.active{@extend %mode; background-position: 0px 0px;}
		.mode-cat{
			@extend %mode;
			background: {	image: url(/images/icons-auction/i-cat.png); }
		}
		.mode-prop{
			@extend %mode;
			background: {	image: url(/images/icons-auction/i-prop.png); }

		}
		.mode-view-1{
			@extend %mode;
			background: {	image: url(/images/icons-auction/i-view-1.png); }
		}
		.mode-view-2{
			@extend %mode;
			background: {	image: url(/images/icons-auction/i-view-2.png); }
		}
		.mode-import{
			@extend %mode;
			float: left;
			width: 150px;
			background: {	image: url(/images/icons-auction/i-import.png); }
		}
		%text{
			@extend %mode;
			width: 34px;
			float: right;
			color: #444;
			text-align: center;
			height: 58px;
			padding: 21px 0 5px;
			margin: 1px 2px 1px 2px;
		}
		.next{
			@extend %text;
			background: {
				image: url(/images/arrow-right-b.png);
				repeat: no-repeat;
				position: 12px 32px;
			}
		}
		.prev{
			@extend %text;
			background: {
				image: url(/images/arrow-left-b.png);
				repeat: no-repeat;
				position: 12px 32px;
			}
		}

		.nav{
			position: relative;
			float: left;
			height: 100%;
			width: 200px;
			left: 0px;
			background: #262351;
			padding: 15px 4px;
			color: #fff;
			&:hover {background-color: #c6c6ed;}

			li{
				text-align: center;
				padding: 8px;
				height: 100%;
				&:after{content: url("/images/down-arrow-b.png"); margin-left: 8px;}
				//&:before{content: " ";}


			}


		}

		&-top{
			@extend .c-panel;
			margin-top: -20px;
			border-bottom: 2px solid black;
			background: white;
			position: relative;
		}
		&-bottom{
			@extend .c-panel;
			margin-bottom: -20px;
			border-top: 2px solid black;
			background: white;
			position: relative;
		}
	}
	.tabs{
		position: relative;
		min-height: 560px;
		height: auto;
		width: 100%;
		padding: 8px 0px 8px 0px;
	}



	.tab{
		cursor: pointer;
		width: 100%;
		height: 320px;
		text-align: center;
		margin: 15px 0px 10px 0px;
		position: relative;
		border: 1px solid #e0e0e0;
		background-color: white;
		.over{ // это div поверх
			width: 100%;
			height: 100%;
			//background-color: #8eaccb;
			background-color: rgba(0,0,255, .3);
			display: none;
			%overicon{
				@extend %overicon;
				width:77px;
				height: 77px;
				right: 50% - 38;
				horizontal-align: center;
				margin: 0 auto;
				background: {
					image: url("");
					repeat: no-repeat;
					position:  0px 0px;
				}
				&:hover{background-position: -77px 0px;}
		
			}
			.view{
				@extend %overicon;
				//top:20px;
				background: {
					image: url(/images/icons-auction/i-view.png);
				}
		
			}
			.edit{
				@extend %overicon;
				//top:100px;
				background: {
					image: url(/images/icons-auction/i-edit2.png);
				}
			}
			.delete{
				@extend %overicon;
				//top:180px;
				background: {
					image: url(/images/icons-auction/i-delete.png);
				}
				
			}
			.info{
				position: absolute;
				width: 100%;
				height: 70px;
				bottom: 0;
				margin: 0 auto;
				background-color:#4b5e72;
				.top{
					color: #8eaccb;
					font-size: 28px;
					font-weight: 700;
					text-transform: uppercase;
					margin: 0px;
				}
				.bottom{
					color: #8eaccb;
					font-size: 18px;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
		&:hover {
		//	background-color: #ebeced;
			.over{display: block;}
		}
	}
	.tab-add{
		@extend .tab;
		padding: 185px 5px 20px 5px;
		background: {
			image: url(/images/icon-plus.png);
			repeat: no-repeat;
			color: inherit;
			position: 50% 90px;
		}
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}

}

