
.pageAuctionLeading {

  &-left {
    background: #131b2e;
    color: white;
    &-in {
      padding: 15px;
      &-title {
        color: #3250ad;
        font-size: 18px;
        padding: 10px 0 0;
      }
      &-text {
        padding: 17px 0;
        width: 100%;
        &-numberAndName {
          float: left;
          width: calc(100% - 20px);
        }
        &-circleColor {
          float: left;
          width: 20px;
        }
        .color-yellow {
          color: yellow;
          text-decoration: underline;
        }
        .color-red {
          color: #535f7b;
        }
      }
    }
  }

  &-right {
    &-top {
      &-left {
        background: white;
        height: 112px;
        padding: 5px 0 0 40px;
        &-top {
          color: #b90000;
          font-size: 42px;
          font-weight: bold;
        }
        &-bottom {
          font-size: 23px;
        }
      }
      &-right {
        background: #f0c7c7;
        height: 112px;
        text-align: center;
        padding-top: 28px;
        &-top {
          font-size: 14px;
          text-transform: uppercase;
        }
        &-bottom {
          color: #b90000;
          font: {
            size: 30px;
            weight: bold;
          }
        }
      }
    }
    &-center {
      height: 460px;
      &-left {
        height: 100%;
        font-weight: bold;
        padding: 23px;
        &-top {
          font-size: 20px;
        }
        &-undertop {
          color: #b90000;
          font-size: 18px;
          padding-top: 20px;
        }
        &-bottom {
          padding-top: 228px;
        }
      }
      &-center {
        height: 100%;
        font-weight: bold;
        padding: 15px;
        &-gallery {
          .gallery-div {
            border: 1px solid #a1a6a9;
            float: left;
            margin: 10px;
            position: relative;
            .check {
              background: white;
              border: 1px solid #515151;
              height: 30px;
              opacity: 0.5;
              position: absolute;
              right: 5px;
              top: 5px;
              width: 30px;
              img {
                opacity: 1;
                padding: 3px;
              }
            }
            .noeye {
              background: rgba(0, 0, 0, 0) url("/images/no-eye.png") no-repeat scroll 0 0;
              height: 72px;
              left: 15px;
              position: absolute;
              top: 48px;
              width: 91px
            }
          }
        }
        &-bottom {
          padding-top: 390px;
          &-time {
            float: left;
            width: 50%;
          }
          &-pause {
            float: left;
            padding: 0 0 0 85px;
            width: 50%;
          }
        }
      }
      &-right {
        height: 100%;
        padding: 15px;
        &-camera {
          height: 160px;
          text-align: center;
        }
        &-textTop {
          height: 140px;
          &-in {
            &-text {
              float: left;
              width: calc(100% - 100px);
            }
            &-time {
              float: left;
              width: 100px;
            }
          }
        }
        &-textBottom {
          height: 125px;
          text-align: center;
          .top {
            color: #687983;
            font-size: 20px;
          }
          .center {
            font-size: 24px;
          }
          .bottom {
            color: #b90000;
            font-size: 20px;
          }
        }
      }
    }
    &-bottom {
      &-left {

      }
      &-right {
        div {
          height: 40px;
          div {
            float: left;
            width: 25%;
          }
        }
      }
    }
  }

}