﻿.auction-header { // высота хедера по макету - 91
	@extend .content-block;
	position: relative;
	text-align: center;
	height: 91px;
	padding: 16px;
	font: {
		family: "Cambria";
	//	family: "Century Gothic";
		weight: normal;
		style: normal;
		size: 18px;
	}
	.info-top{
		color: #d8a46a;
		font-size: 18px;
		font-weight: 700;
		margin-top: -4px;
		text-transform: uppercase;

	}
	.info-bottom{
		position:relative;
		padding-bottom: 244px;
		margin-top: -11px;
		color: #fff;
		font-size: 26px;
		
		.edit{
			@extend %edit;
			display: none;
			top: 5px;
			right:0px;
		}
		&:hover{.edit{display: block;}}
	}
}

.auction-header-image {
	background: rgba(0, 0, 0, 0) url("/images/background-header.jpg") no-repeat scroll 0 0 / 100% auto;
	height: 420px;
	text-align: center;
	&-top {
		color: #fff;
		font-family: "Century Gothic";
		font-size: 110px;
		font-weight: 700;
		padding: 95px 0 0;
		text-transform: uppercase;
	}
	&-center {
		margin-top: -30px;
		color: #fff;
		font-family: Cambria;
		font-size: 24px;
		text-transform: uppercase;
	}
	&-bottom {
		color: #fff;
		font-family: Cambria;
		font-size: 30px;
		text-transform: uppercase;
	}
}

.auction-list {
	@extend .content-block;
	padding-top: 2px;
	height: auto;
	@include padding-horizontal(15px);
	> div:first-child{
		margin-top: -20px;
	}
	.c-panel{// высота хедера по макету - 55
		position: relative;
		vertical-align: middle;
		margin: 2px 0px 2px 0px;
		padding: 0px;// 2px; //для рамочки
		width: 100%;
		height: 53px;
		@media (max-width: 520px) {	height: 110px;} // это адаптивка
		background: white;
        font-family: "Century Gothic";
		font-size: 24px;
		.nav{
			position: relative;
			float: left;
			height: 51px;
			left: 0px;
			background: #262351;
			padding: 7px 20px;
			color: #fff;
			
			&:hover {background-color: #c6c6ed;}

			li{
				text-align: center;
				height: 100%;
		        font-family: "Century Gothic";
				font-size:18px;
				cursor: pointer;
				display: inline;
				width: 200px;
				margin-right: 20px;

				//&:after{content: url("/images/down-arrow-b.png"); margin-left: 8px;}
				//&:before{content: " ";}
			}
		}

		%mode{
			cursor: pointer;
			position: relative; float: right;
		//	position: absolute; right:0px;
			width: 30px;
			height: 30px;
			
			top: 0px;
			font-family: "Century Gothic";
			text-align: center;
			margin: 12px 12px 9px 0;
			padding: 3px 0px 0px 24px;
			vertical-align: middle;
			border-radius: 5px;
		
			background: {
				repeat: no-repeat;
				position: 0px 0px;
			}
			&:hover {background-color: #E0E0E0}
		}
		.mode-prop{
			@extend %mode;
		//	right:0px;
			background: {	image: url(/images/icons-auction/settings_hover.svg); }
			&-active{@extend .mode-prop; background-image: url(/images/icons-auction/settings.svg);}
		}
		.mode-cat{
			@extend %mode;
		//	right:120px;
			background: {	image: url(/images/icons-auction/view_catalog_hover.svg); }
			&-active{@extend .mode-cat; background-image: url(/images/icons-auction/view_catalog.svg);}
		}
		
		.mode-view-2{
			@extend %mode;
		//	right:40px;
			background: {	image: url(/images/icons-auction/view_lots_box_hover.svg); }
			&-active{@extend .mode-view-2; background-image: url(/images/icons-auction/view_lots_box.svg);}
		}
		.mode-view-1{
			@extend %mode;
		//	right:80px;
			background: {	image: url(/images/icons-auction/view_lots_list_hover.svg); }
			&-active{@extend .mode-view-1; background-image: url(/images/icons-auction/view_lots_list.svg);}
		}
		
		.mode-import{
			@extend %mode;
			position: relative;
			float: left;
	        font-family: "Century Gothic";
			font-size:18px;
			margin-left: 10px;
			@media (max-width: 520px) {
				position: absolute;
				top:53px;
				left:0;// 41 - так как верхний отступ еще 12
			}
			width: 140px;
			color:#bbb;
			background: {	image: url(/images/icons-auction/import_lots_hover.svg); }
			&:hover{background-image: url(/images/icons-auction/import_lots.svg); color:#000;}
		}
		.mode-toplot{
			display: none;
		}
		%text{
			@extend %mode;
			width: 34px;
			float: right;
			color: #444;
			text-align: center;
			height: 58px;
			padding: 21px 0 5px;
			margin: 1px 2px 1px 2px;
		}
		.next{
			@extend %text;
			border-radius: 3px;
			cursor: pointer;
			background: {
				image: url(/images/arrow-right-b.png);
				repeat: no-repeat;
				position: 12px 32px;
			}
		}
		.prev{
			@extend %text;
			border-radius: 3px;
			cursor: pointer;
			background: {
				image: url(/images/arrow-left-b.png);
				repeat: no-repeat;
				position: 12px 32px;
			}
		}
		&-top{
			@extend .c-panel;
			border-bottom: 2px solid black;
			background: white;
			position: relative;
		}
		&-bottom{
			@extend .c-panel;
			margin-bottom: -20px;
			border-top: 2px solid black;
			background: white;
			position: relative;
			.nav{height:52px;}
		}
	
		
	}

	.tabs{
		position: relative;
		min-height: 560px;
		height: auto;
		width: 100%;
		padding: 8px 0px 8px 0px;
	}



	.tab{
		cursor: pointer;
		width: 100%;
		height: 320px;
        font-family: "Century Gothic";
		text-align: center;
		margin: 15px 0px 10px 0px;
		position: relative;
		*border: 1px solid #e0e0e0;
		background-color: white;
		z-index:0;
		box-shadow: 0 1px 2px;
		padding: 10px;
		.over{ // это div поверх
			position: absolute;
			width: 100%;
			height: 100%;
			//background-color: #8eaccb;
			background-color: rgba(0,0,255, .3);
			z-index:2;
			display: none;
			margin: -10px 0 0 -10px;
			%overicon{
				position: relative;
				cursor: pointer;
				width:50px;
				height: 50px;
				horizontal-align: center;
				margin: 5px auto;
				background: {
					repeat: no-repeat;
					position:  0px 0px;
					size: auto 100%;
				}
		
			}
			.view{
				top: 20%;
				@extend %overicon;
				background-image: url(/images/icons-auction/circle_but_view.svg);
				&:hover{background-image: url(/images/icons-auction/circle_but_view_hover.svg);}
		
			}
			.edit{
				top: 20%;
				@extend %overicon;
				background-image: url(/images/icons-auction/circle_but_edit.svg);
				&:hover{background-image: url(/images/icons-auction/circle_but_edit_hover.svg);}
			}
			.delete{
				top: 20%;
				@extend %overicon;
				background-image: url(/images/icons-auction/circle_but_del.svg);
				&:hover{background-image: url(/images/icons-auction/circle_but_del_hover.svg);}
			}
			.tofav{
				top: 20%;
				@extend %overicon;
				display: none;
				background-image: url(/images/icons-auction/circle_but_fav_add.svg);
				&:hover{background-image: url(/images/icons-auction/circle_but_fav_add_hover.svg);}
			}
			.unfav{
				top: 20%;
				@extend %overicon;
				display: none;
				background-image: url(/images/icons-auction/circle_but_fav_del.svg);
				&:hover{background-image: url(/images/icons-auction/circle_but_fav_del_hover.svg);}
			}
			
		}
		&:hover {
		//	background-color: #ebeced;
			.over{display: block;}
		}
		.info{
				position: absolute;
				width: 100%;
				height: 70px;
				bottom: 0;
				margin: 0 auto;
				margin: 0 0 0 -10px;
				background-color:#0c111a;
				color: #fff; //#8eaccb; #8eaccb;
		        font-family: "Century Gothic";
				font-color: #fff; //#8eaccb;
				z-index:0;
					
			.top{
		        font-family: "Century Gothic";
				font-size: 28px;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0px;
			}
			.bottom{
		        font-family: "Century Gothic";
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}

		.img222 {
			background:{
				position: top right;
				repeat: no-repeat;
			}
			height: 158px;
			text-align: left;
			img {
				height: 158px;
				width: 100%;
			}
			&.molot:after {
				content: url('/images/ICONS_svg/molotok.svg');
				margin: -150px 0 0 150px;
				position: absolute;
			}
		}

		.img222-under1 {
			text-align: left;
			text-transform: uppercase;
		}

		.img222-under2 {
			text-align: left;
			color: #132038;
			padding: 10px 0;
			&.descPr{
				height: 60px;
				overflow: hidden;
			}
		}

		.img222-under3 {
			text-align: left;
			color: #aaaaaa;
			font-weight: bold;
		}

		.img222-under41 {
			text-align: left;
			background: #132038;
			color: white;
			float: left;
			padding: 3px;
			font-size: 12px;
		}

		.img222-under42 {
			background: {
				image: url(/images/edit_preview.svg);
				repeat: no-repeat;
				position: 0 -3px;
			}
			text-align: right;
			float: right;
			height: 28px;
			width: 28px;
		}
	}
	.tab-add{
		@extend .tab;
		padding: 185px 5px 20px 5px;
		cursor: pointer;
			
		background: {
			image: url(/images/icons-auction/add_auction.svg);
			repeat: no-repeat;
			color: inherit;
			position: center 90px;
		}
		&:hover{background-image: url(/images/icons-auction/add_auction_hover.svg);}
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.contacts{
		margin: 10px 0;
		padding: 30px;
		background: #262351;
		color: white;
		cursor: pointer;
		&-title {
			text-transform: uppercase;
			font-size: 20px;
		}
		&-count {
			text-transform: uppercase;
			&:after {
				content: url("/images/down-arrow.png");
				float: right;
				margin-top: -15px;
			}
		}
		&-arrow {

		}
	}
	.under-contacts {
		background: #ffffff;
		height: 670px;
		padding: 30px;
		@include margin-vertical(10px);
		&-title {
			text-transform: uppercase;
			font-size: 20px;
			cursor: pointer;
		}
		&-count {
			text-transform: uppercase;
			cursor: pointer;
			&:after {
				content: url("/images/up-arrow-b.png");
				float: right;
				margin-top: -15px;
			}
		}
		&-1 {
			height: 145px;
			margin-bottom: 40px;
			margin-top: 30px;
			&-1 {
				float: left;
				margin-right: 20px;
				width: 100px;
			}
			&-2 {
				float: left;
				&-1 {
					font-weight: bold;
				}
				&-2 {
					font-style: italic;
					margin-bottom: 15px;
				}
				&-3 {

				}
				&-4 {
					text-transform: uppercase;
					color: sandybrown;
				}
			}
		}
		&-2 {
			height: 145px;
			margin-bottom: 40px;
			&-1 {
				float: left;
				margin-right: 20px;
				width: 100px;
			}
			&-2 {
				float: left;
				&-1 {
					font-weight: bold;
				}
				&-2 {
					font-style: italic;
					margin-bottom: 15px;
				}
				&-3 {

				}
				&-4 {
					text-transform: uppercase;
					color: sandybrown;
				}
			}
		}
		&-3 {
			height: 145px;
			margin-bottom: 40px;
			&-1 {
				float: left;
				margin-right: 20px;
				width: 100px;
			}
			&-2 {
				float: left;
				&-1 {
					font-weight: bold;
				}
				&-2 {
					font-style: italic;
					margin-bottom: 15px;
				}
				&-3 {

				}
				&-4 {
					text-transform: uppercase;
					color: sandybrown;
				}
			}
		}
	}
	&.al-open{
		.mode-import,.mode-prop{
			display: none;
		}
		.tabs{
			.tab{
				.over{
					.view{
						top: 30%;
					}
					.edit,.delete{
						display: none;
					}
					.tofav,.unfav{
						top: 30%;
						display: block;
					}
				}
				.img222-under42 {
					background: url(/images/ICONS_svg/preview_card.svg) no-repeat;
				}
			}
			.col-tab-add{
				display: none;
			}
		}
		.mode-toplot{
			display: block;
			position: relative;
			cursor: pointer;
			height: 51px;
			text-align: center;
			padding: 14px 24px;
			float: left;
			color:#bbb;
			font: {
				family: "Century Gothic";
				size:18px;
			}
			border: {
				left: 1px solid #E0E0E0;
				right: 1px solid #E0E0E0;
			};
			&:hover {
				background-color: #E0E0E0
			}
			@media (max-width: 520px) {
				position: absolute;
				top:53px;
				left:0;// 41 - так как верхний отступ еще 12
			}
		}
	}
}

