
@font-face {
    font-family: "Century Gothic";
    src: 
	local("Century Gothic"), // проверяем наличие шрифта в ОС пользователя 
	url("/fonts/Century Gothic/GOTHIC.TTF") format("truetype"); // если нет - подгружаем
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Century Gothic";
    src: 
	local("Century Gothic"),
	url("/fonts/Century Gothic/GOTHICB.TTF") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Century Gothic";
    src: 
	local("Century Gothic"),  
	url("/fonts/Century Gothic/GOTHICBI.TTF") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Century Gothic";
    src: 
	local("Century Gothic"), 
	url("/fonts/Century Gothic/GOTHICI.TTF") format("truetype");
    font-weight: normal;
    font-style: italic;
}
// ================================ с засечками =============================
@font-face {
    font-family: "Gambria";
    src: 
	local("Gambria"),  
	url("/fonts/cambria.ttc") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gambria";
    src: 
	local("Gambria"),  
	url("/fonts/cambriab.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Gambria";
    src: 
	local("Gambria"),  
	url("/fonts/cambriai.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}



%edit{
	cursor: pointer;
	@include square(40px);
	position: absolute;
	padding: 0;
	cursor: pointer;

	background: {
		image: url(/images/edit_grey.svg);
		repeat: no-repeat;
		position: 0 0;
	}
	&:hover{
		background-image: url(/images/edit_preview.svg);
	}
}

%arrow_left{
	position: absolute;
	height:30px;
	width:15px;
	padding: 0;
	position: relative;
	border-radius: 3px;
	cursor: pointer;

	background: {
		image: url(/images/arrow_w_left.svg);
		repeat: no-repeat;
		position: -8px 0;
		color: none;
		size: auto 100%;
	}
	&:hover{
	background-color: #555;
		
	}
}
%arrow_right{
	position: absolute;
	height:30px;
	width:15px;
	padding: 0;
	position: relative;
	border-radius: 3px;
	cursor: pointer;

	background: {
		image: url(/images/arrow_w_right.svg);
		repeat: no-repeat;
		position: -8px 0;
		color: none;
		size: auto 100%;
	}
	&:hover{
		background-color: #555;
		
	}
}



//уберём браузерную обводку
input,textarea,.btn,button,a,div{
  &:not(.outline){
    &:active, &:focus {
      outline: none;
    }
    &::-moz-focus-inner {
      border: 0;
    }
  }
}
.row-lg{
  @include margin-horizontal(-20px);
  .col{
    @include padding-horizontal(20px);
  }
}

.row-md{
  @include margin-horizontal(-10px);
  .col{
    @include padding-horizontal(10px);
  }
}

.row-sm{
  @include margin-horizontal(-5px);
  .col{
    @include padding-horizontal(5px);
    padding-bottom: 10px;
  }
}

.row-block{
  width: 100%;
  .content-block{
    width: 100%;
    position: relative;
    max-width: 1000px;
    min-width: 320px;
    &-full{
      max-width: 100%;
      @include padding-horizontal(15px);
      background: #131b2e none repeat scroll 0 0;
    }
    @include margin-horizontal(auto);
  }
}

.custom-title-block{
  background: #283879;
  color: white;
  padding: 16px;
  text: {
    align: center;
    transform: uppercase;
  }
  font: {
    family: "Century Gothic";
    weight: bold;
    style: normal;

  }
  &-h3 {
    font-size: 20px;
  }
  &-h1 {
    font-size: 35px;
  }
}
%custom-btn{
  cursor: pointer;
  background: #283879;
  color: white;
  text: {
    align: center;
    transform: uppercase;
  }
  font: {
    family: "Century Gothic";
    weight: bold;
    style: normal;
	size: 24px;
  }
  line-height: 60px;
}
.custom-btn{
  @extend %custom-btn;
  &-lg{
    @extend %custom-btn;
    height: 55px;
  }
  &-sm{
    @extend %custom-btn;
    font-size: 20px;
    line-height: 55px;
  }
  &-red{
    background: #79040a;
  }
  &-default{
    @extend %custom-btn;
    background-color: #4e586a;
  }
}

%custom-input{
  width: 100%;
  background: #e6e7e8;
  height: 50px;
  color: #0c111a;
  text-transform: uppercase;
  border: 0 none;
  padding: 18px 32px 18px 18px;
  font: {
    family: "Century Gothic";
	weight: normal;
    style: normal;

    size: 18px;
    weight: 400;
  }
}

.auction{
  background: white;
  margin: 5px 0 0 0;
  padding: 15px 0;
  border: 1px solid lightgray;
  &-img{
    @include square(191px);
    float: left;
    margin-right: 5px;
  }
  &-body{
    width: calc(100% - 198px);
    float: left;
    &-header{
      background: #a5a5a5;
      color: #132038;
      padding: 3px 7px;
      width: calc(100% - 70px);
    }
  }
  &-button{
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    background: #596273;
    &.active{
      background: #132038;
    }
    &:hover {
      background: #91aee2;
    }
    padding: 3px 0;
  }

}
.new-auction{
  @extend .auction;
  .auction-img{
    border: 1px solid gray;
  }
}
.checkbox{
  input[type=checkbox]{
    display: none;
  }
  label{
    margin-left: 15px;
    &:before{
      font-family: 'Glyphicons Halflings';
      color: red;
      content: " ";
      position: absolute;
      margin-left: -20px;
      background: #e6e7e8;
      width: 14px;
      line-height: 10px;
      height: 14px;
    }
  }
  input[type=checkbox]:checked + label:before{
    content: "\e013";
  }
}

label.custom-input{
  width: 100%;
  > input{
    @extend %custom-input;
  }
}
input.custom-input{
  @extend %custom-input;
}
div.custom-input{
  @extend %custom-input;
  height: auto;
  &-lg{
    @extend %custom-input;
    height: auto;
    font-weight: bold;
    font-size: 20px;
    @include padding-vertical(20px);
  }
}

%icon{
  display: inline-block;
}

.icon-molotok{
  @extend %icon;
  height: 12px;
  width: 12px;
  background: {
    image: url("/images/ICONS_svg/icons_calendar_hummer.svg");
    size: 100%;
  }
}