
footer {  
  background:{
	  image: url(/images/background-footer.png);
	  color: black;
	  size: 100% auto;
  }
  .footer-links {
	div {
	  height: 35px;
	  width: 35px;
	  margin: 80px 0 0 20px;
	  float: right;
	}
  }
}