
footer {  
	z-index:0;
	background:{
	  image: url(/images/background-footer.png);
	  color: black;
	  size: 100% auto;
	}
	.footer-links {
		._main {
			height: 35px;
			width: 35px;
			margin: 80px 20px 0px 0px;
			float: right;
			background:{
				image: url(""); 	
				repeat: no-repeat; color: none;
				position: 0px 0px;
				//border-radius: 5px;
				box-shadow: 0 1px 2px rgba(0,0,0,.3);
			}
			&:hover { background-position: -35px 0px;}
		
			a {
				width: 35px;
				height: 35px;
				display: block;
				overflow: hidden;
				margin: 0px;
			}
		
		}
		.vk{
			@extend ._main;
			background:{ image: url(/images/i-vk.png); }	
		}
		.gp{
			@extend ._main;
			background:{ image: url(/images/i-gp.png); }	
		}
		.fb{
			@extend ._main;
			background:{ image: url(/images/i-fb.png); }	
		}
		.tw{
			@extend ._main;
			background:{ image: url(/images/i-tw.png); }	
		}
	}
}
