footer {
	height: 130px;
	z-index:0;
	background:{
	  image: url(/images/background-footer.png);
	  color: black;
	  size: 100% auto;
	}
	.logo-footer{
		position: absolute;
		margin: -10px 10px 0 16px;
		float: left;
		background:{
			image: url(/images/logo-footer.png);
			repeat: no-repeat;
			position: 0 0;
		}
		width: 316px;
		height: 130px;
		@include xs-display {
			margin: 3px 10px 0 15px;
			height: 120px;
		}
	}
	.footer-links{
		height: 100px;
		%main {

			height: 35px;
			width: 35px;
			margin: 20px 3px 0px 17px;
			float: right;
			background:{
				image: url("");
				repeat: no-repeat; color: none;
				position: 0px 0px;
			}
			&:hover { background-position: -35px 0px;}

			a {
				width: 35px;
				height: 35px;
				display: block;
				overflow: hidden;
				margin: 0px;
			}

		}
		.vk{
			@extend %main;
			background:{ image: url(/images/i-vk.png); }
		}
		.gp{
			@extend %main;
			background:{ image: url(/images/i-gp.png); }
		}
		.fb{
			@extend %main;
			background:{ image: url(/images/i-fb.png); }
		}
		.tw{
			@extend %main;
			background:{ image: url(/images/i-tw.png); }
		}
		@include sm-or-more-display {
			position: absolute;
			margin-top: 30px;
			width: 250px;
			float: right;
			right: 10px;
		}
		@include xs-display {
			margin-top: 18px;
			position: absolute;
			right: 0px;
		}
	}
}
