
content {
  display: block;
  background: #efefef;
  padding: 0 0 80px;
  .content-list{
    $filter-info-height:100px;
    $filter-height:$filter-info-height + 30px; // + filter-country
    $filter-margin-top:-15px;
    height: 100%;
    padding-top: $filter-height;
    .filter{
      height: $filter-height;
      position: absolute;
      width: 100%;
      margin-top: $filter-margin-top - $filter-height;
      &-info{
        height: $filter-info-height;
        background: #122135;
		color: white;
		.block-h2 {
		    font-weight: bold;
		  }
		  .block-text {
		    font-size: 15px;
			color: #91aee2;
		  }
		&-cl1 {
		  margin: -6px 0 0;
		  .block-h2 {
		    padding: 29px 0 0 27px;
		    text-transform: uppercase;
		    font-size: 25px;
		  }
		  .block-text {
			padding: 0 0 0 27px;
		  }
		  img {
		    float: right;
			margin: -65px 0 0;
		  }
		}
		&-cl2 {
		   margin: 10px 0;
		  .block-h2 {
		    float: left;
			margin: 0 10px 0 0;
		  }
		  .block-text {
            cursor: pointer;
		    float: left;
            position: relative;
            &:after{
              content: url("/images/down-arrow.png");
              margin-left: 20px;
            }
            > ul{
              display: none;
            }
            &:hover{
              > ul{
                overflow: auto;
                max-height: 300px;
                display: block;
                position: absolute;
                right: 0;
                top: 100%;
                padding-right: 15px;
                background: white;
                min-width: 100%;
                z-index: 9;
                border: 1px solid lightgray;
                >li{
                  word-wrap: normal;
                  white-space: nowrap;
                  margin-left: -5px;
                  color: black;
                  &.count-0{
                    color: gray;
                  }
                }
              }
            }
		  }
		  > div{
		    height: 25px;
			margin: 10px 0 0 26px;
		  }
		}
        > div {
          float: left;
          width: 50%;
          &:last-child{
          }
        }
      }
	  .under-filter{
	    height: 50px;
		text-transform: uppercase;
		font-size: 13px;
		color: #132038;
		ul {
		  padding: 13px 0 0;
		}
	  }
      &-country-select{
        li{
          display: inline-block;
          cursor: pointer;
          margin-right: 30px;
          &:after{
            content: url(/images/image-x.png);
            cursor: pointer;
            position: absolute;
            margin-left: 5px;
          }
          &:hover{
            &:after {
              content: url(/images/image-x-blue.png);
            }
          }
          &:last-child{
            float: right;
            color: gray;
          }
        }
      }
    }	
  }
  .front-body {
	background: white;
	height: 214px;
	overflow: hidden;
	&-in {
	  padding: 12px;
	  &-left {
		float: left;
		width: 191px;
		height: 191px;
	  }
	  &-center {
		float: left;
		width: 616px;
		padding: 0 8px;
		color: #000000;
		font-size: 15px;		
		&-p1 {
		  background: #a5a5a5;
		  color: #132038;
		  padding: 7px;
		}
		&-p2 {
		  margin-top: 20px;	  
		}
		&-p3 {
		  margin-top: 2px;
		  color: #0d395f;
		  font-size: 22px;
		  text-transform: uppercase;
		}
		&-p4 {
		  margin-top: 5px;
		}
	  }
	  &-right {
		float: left;
		width: 169px;
		color: white;
		text-transform: uppercase;
		font-size: 13px;
		height: 191px;
		text-align: center;
		&-p {
          cursor: pointer;
		  height: 24px;
		  width: 169px;
		  background: #596273;
		  margin-bottom: 11px;
		  padding: 3px 0 0;
		  a {
            text-decoration: none;          		  
		    &:visited {
		      color: white;
		      text-decoration: none;
		    }
		  }
		  &:hover {		    
			background: #91aee2;
			a {
			  color: #132038;
			}
		  }
		  &:active {		    
			background: #132038;
			a {
			  color: white;
			}
		  }
		}		
	  }
	}
  }
  .filter-bottom {
    background: white;
    bottom: -100px;
	position: absolute;
	height: 52px;
	width: 100%;
	text-transform: uppercase;
    font-size: 22px;
	color: #132038;
	hr {
	  size: 2px;
	}
	&-div {
	  padding: 14px 10px;	
	  &-left {
	    width: 98%;
	    float: left;
	  }
	  &-right {
	    width: 2%;
	    float: left;
	  }
	}
  }
  .bottom-on-top {
  //  position: absolute;
	//bottom: -70px;
	//right: -60px;
    position: fixed;
	top: 70%;
	right: 40px;
  }
}









