header {
  a {
	font-family: "Gambria";
	font-style: normal;
	font-weight: normal;
    text-decoration: none;
    &:visited {
      color: white;
      text-decoration: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }

  .header-top { // высота на макете - 100px
    height: 40px;
    color: white;
    background: {
      image: url(/images/background-header.png);
      color: black;
    }
    .input-radius {
      border-radius: 15px;
      padding: 0 0 0 5px;
      width: 155px;
      color: #acb1b8;
      @include xs-display{
        width: 107px;
      }
    }
    .button-radius {
      background: #b9b9b9;
      border-radius: 15px;
      color: #203371;
      cursor: pointer;
      height: 28px;
      margin: 3px 0 0 -3px;
      padding: 6px 0 0;
      text-align: center;
      width: 80px;
    }

    a {
		font-family: "Gambria";
		font-style: normal;
		font-weight: normal;

		color: white;
		text-decoration: none;
    }

    &-right {
      height: 100%;
      float: right;
      &-heart {
        background: url("/images/ICONS_svg/fav_w_up_clear.svg") no-repeat;
        height: 34px;
        width: 34px;
        &:hover {
          cursor: pointer;
        }
        a {
          height: 34px;
          position: absolute;
          width: 34px;
        }
      }
      &-avatar {
        background: url("/images/ICONS_svg/user.svg") no-repeat;
        &:hover {
          cursor: pointer;
        }
        .avatar-hover {
          height: 60px;
          width: 100%;
          .button-radius {
            display: none;
            margin: 34px 0 0 0;
            padding: 0;
          }
          .paddindRight10px {
            margin-top: -2px;
            padding: 0 0 0 30px;
          }
          &:hover {
            .button-radius {
              display: block;
              height: 30px;
              margin: 28px 0 0 0;
              padding: 6px 0 0 0;
              position: absolute;
              width: 120px;
              z-index: 2;
            }
          }
        }
      }
      img, div {
	    font-family: "Gambria";
	    font-style: normal;
	    font-weight: normal;
	    font-size: 13px;
        float: left;
        padding: 0 3px 0 0;;
        margin: 4px 3px 2px 3px;

      }
      .div075 {
        padding: 7px 0 0 0;
      }
      input {
        height: 28px;
        margin-top: -2px;
      }
    }
    &-left {
      height: 100%;
      float: right;

      img, div {
        float: right;
        padding: 0 3px 0 0;;
        margin: 0 3px 0 3px;
      }
    }
    > div:first-child {
      > div {
        display: inline-block;
      }
    }
  }

  .header-bottom {
	position: relative;
    left: 0;
    background: {
      image: url(/images/background-body.png);
      color: black;
    }
    .header-lk {
      background-size: 100%;
      height: 420px;
      text-align: center;
      &-top {
        color: white;
        padding: 95px 0 0;
        text-transform: uppercase;
        font: {
          family: "Century Gothic";
          size: 135px;
          weight: bold;
        }
      }
      &-bottom {
        family: "Century Gothic";
		text-transform: uppercase;
        font-size: 28px;
        color: white;
        background: url(/images/header-image-bottom.png) no-repeat;
        height: 222px;
      }
      &-info {
        background: #0c111a;
        height: 145px;
        text-align: center;
        &-top {
          color: white;
          family: "Century Gothic";
          font-size: 28px;
          font-weight: bold;
          text-transform: uppercase;
          padding: 40px 0 0;
        }
        &-bottom {
          color: #d8a46a;
          family: "Century Gothic";
          font-size: 18px;
        }
      }

    }
    .header-image {
      background: url(/images/header-image.png) no-repeat;
      background-size: 100%;
      height: 420px;
      text-align: center;
      @media (max-width: 1190px) {
        background-size: auto 100%;
      }
      &-top {
        color: white;
        padding: 95px 0 0;
        text-transform: uppercase;
        font-family: "Century Gothic";
        font-size: 110px;
        font-weight: bold;
        @include xs-display {
          font-size: 80px;
        }
      }
      &-bottom {
		font-family: "Gambria";
        text-transform: uppercase;
		font-size: 24px;
        color: white;
        background: url(/images/header-image-bottom.png) no-repeat;
        height: 222px;
      }

      &-info {
        background: #0c111a;
        height: 145px;
        text-align: center;
        &-top {
			color: white;
			font-family: "Century Gothic";
			font-size: 28px;
			font-weight: bold;
			text-transform: uppercase;
			padding: 40px 0 0;
        }
        &-bottom {
			color: #d8a46a;
			font-family: "Century Gothic";
			font-size: 18px;
        }
      }
    }
  }
}

/*================= адаптивная выпадашка =========================*/
.top-menu {
	text-align: right;
	ul {
	margin: 0;
	padding: 0;
    width: 70%;
    float: right;
    li {
      padding: 0;
      list-style: none;
      cursor: pointer;
      a {
	font-family: "Gambria";
	font-style: normal;
	font-weight: normal;
        text-decoration: none;
        line-height: 100%;
      }
    }
  }
  &-img {
    width: 30%;
    text-align: center;
    cursor: pointer;
    img {
      max-width: 100%;
    }
  }
}

@include xs-display {
  .top-menu {
    position: relative;
    min-height: 40px;
    max-height: 80px;
    margin: 10px 0;
    @include clearfix;
    ul {
      width: 65%;
      padding: 5px 0;
      margin-right: 10px;
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
      float: right;
      min-height: 30px;
      z-index: 90;

      border: solid 1px #aaa;
      background: #fff url(/images/i-menu.png) no-repeat 10px 11px;
      border-radius: 5px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
      li {
        display: none; /* hide all <li> items */
        margin: 0;

        a {
          display: block;
          padding: 0 5px 5px 32px;
          text-align: left;
          color: #999;
          &:hover {
            color: #000;
          }
        }

      }
      .current {
        display: block; /* show only current <li> item */
        a {
          background: none;
          color: #666;
        }
      }

      &:hover, &.open { /* on nav hover, click */
        background-image: none;
        li {
          display: block;
          margin: 0 0 5px;
        }
        .current {
          background: url(/images/i-menu-check.png) no-repeat 10px 7px;
        }
      }

    }

  }
}

@include sm-or-more-display {
  .top-menu {
    text-transform: uppercase;
    font-family: "Century Gothic";
	font-size: 13px;
    text-align: center;
    height: 110px;
    ul {
      height: 100%;
      li {
        padding: 45px 0;
        height: 100%;
        display: inline-block;
        *display: inline; /* ie7 */
        a {
          color: #1a2d55;
        }
        &:hover {
          background: #e6ecf4;
          color: #00329a;
          border-left: 1px solid #B7B7B7;
          border-right: 1px solid #B7B7B7;
        }
      }
    }
    &-img {
      height: 100%;
      float: left;
      img {
        margin-top: 20px;
      }
    }
    &_col-1 {
      width: #{(100%/12)};
    }
    &_col-2 {
      width: 16%;
    }
    &_col-3 {
      width: 27%;
    }
  }
}