header{
  /*height: 710px;*/
  a {
    text-decoration: none;
    &:visited {
      color: white;
      text-decoration: none;
    }
  }
  ul{margin:0; padding:0;}
  
  
  
  .header-top {
	
	background:{
      image: url(/images/background-header.png);
      color: black;
    }
	.input-radius {
	    border-radius: 15px;
		padding: 0 0 0 5px;
		width: 155px;
		color: #acb1b8;
	}
	.button-radius {
	    background: #b9b9b9;
	    border-radius: 15px;
		color: #203371;
		width: 60px;
		margin: 0 0 0 -3px;
	}
	
	height: 40px;
	color: white;
	a {
		color: white;
		text-decoration: none;
	}
	  
	&-right {
	  height: 100%;
	  float: right;
	  /*&-div {
	    height: 100%;
	  }*/
	  img, div {
	
	    float: left;
	    padding:0px 3px 0px 0px;;
		margin: 4px 3px 2px 3px;
		
		
	} 
	
	  
	  
	}
	&-left {
		height: 100%;
		float: right;
		
		img, div {
	
	    float: right;
	    padding:0px 3px 0px 0px;;
		margin: 0px 3px 0px 3px;
		
		
	} 
	}
    > div:first-child{
		//float: left;
      /*padding: 5px 0;*/
     // text-align: right;
      > div{
          display: inline-block;
      }
    }
  }
  
  
  
  
  .header-bottom {
	left: 0;
	background-image: url(/images/background-body.png);
    background-color: black;
	.header-lk {
		background-size: 100%;
		height: 420px;
		text-align: center;
		&-top {
	    color: white;
		padding: 95px 0 0;
		text-transform: uppercase;
		font-size: 135px;
		font-weight: bold;
		font-family: "Century Gothic";
		}
		&-bottom {
	    text-transform: uppercase;
		font-size: 28px;
		color: white;		
		background: url(/images/header-image-bottom.png) no-repeat;
		height: 222px;
		}
		&-info {
        background: #0c111a;
        height: 145px;
        text-align: center;
			&-top {
            color: white;
            font-size: 28px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 40px 0 0;
			}
			&-bottom {
            color: #d8a46a;
            font-size: 18px;
			}
		}
		
    }
    .header-image {
	  background: url(/images/header-image.png) no-repeat;
	  background-size: 100%;
	  height: 420px;
	  text-align: center;
      @media (max-width: 1190px) {
          background-size: auto 100%;
      }
	  &-top {
	    color: white;
		padding: 95px 0 0;
		text-transform: uppercase;
		font-size: 135px;
		font-weight: bold;
		font-family: "Century Gothic";
	  }
	  &-bottom {
	    text-transform: uppercase;
		font-size: 28px;
		color: white;		
		background: url(/images/header-image-bottom.png) no-repeat;
		height: 222px;
	  }
      &-info {
        background: #0c111a;
        height: 145px;
        text-align: center;
        &-top {
            color: white;
            font-size: 28px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 40px 0 0;
        }
        &-bottom {
            color: #d8a46a;
            font-size: 18px;
        }
      }
    }
  }
}

	/*================= адаптивная выпадашка =========================*/
.top-menu{	
	margin: 10px 0;
	text-align: right;
	height: 70px;
	ul {
		margin: 0;
		padding: 0;
		width: 70%;
		float: right;
	
		li {
			margin: 0 5px 10px 0;
			padding: 0;
			list-style: none;
			display: inline-block;
			*display:inline; /* ie7 */
	
			a {
				padding: 3px 12px;
				text-decoration: none;
				color: #999;
				line-height: 100%;
				&:hover {
					color: #000;
				}	
			}
		}
	}
	.current a {
		background: #999;
		color: #fff;
		border-radius: 5px;
	}
}

@include xs-display{ 

	.top-menu{
		position: relative;
		min-height: 40px;
		height: 80px;
		
		ul {
			width: 65%;
			padding: 5px 0;
			margin-right: 10px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			left: auto;
			float: right;
			min-height: 30px;
		
			border: solid 1px #aaa;
			background: #fff url(/images/i-menu.png) no-repeat 10px 11px;
			border-radius: 5px;
			box-shadow: 0 1px 2px rgba(0,0,0,.3);
			li {
				display: none; /* hide all <li> items */
				margin: 0;
	
				a {
					display: block;
					padding: 5px 5px 5px 32px;
					text-align: left;
				}	
	
				
			}
			.current {
					display: block; /* show only current <li> item */
					a {
						background: none;
						color: #666;
					}
				}
				
			&:hover {/* on nav hover */
					background-image: none;
					li {
						display: block;
						margin: 0 0 5px;
					}
					.current {	background: url(/images/i-menu-check.png) no-repeat 10px 7px;}
					
				
				}
	
		}
				
	
	}
}	






