.information {
  &-header {
    height: 112px;
    padding-top: 2px;
    text-align: center;
    h1 {
      color: white;
font-family: Cambria;
    }
    div {
      color: #c59662;
      font-size: 18px;
    }
  }
  &-list {

	margin: -29px 0;
    position: relative;

    width: 100%;

    .gold {
      color: gold;
      display: inline;
    }
  }

}

