

/*header {
	height: 0px;
}

.lk-height {
	height: 150px;
}*/

.lk-header {
	width: 100%;
	height: 90px;
	color: white;
	padding-top: 15px;
	text-transform: uppercase;	
	font: {
		family: "Century Gothic";
		size: 35px;
		weight: normal;
	}
}

.lk-list {
	padding-top: 2px;
}

.lk-body {
	margin-top: -20px;
	&-div-top {
		height: 50px;
		&-ul {
			padding-left: 0;
			li {
				background: white;
				cursor: pointer;
				float: left;
				height: 50px;
				list-style-type: none;
				color: #132038;
				text-transform: uppercase;	      
				text-align: center;
				padding: 15px 30px;
				font: {
					family: "Century Gothic";
					size: 15px;
					weight: normal;
				}
				&:hover, &.active {
					background: #132038;
					color: white;
				}
			}
		}
	}
	&-div-center {
		background: white;
		border-top: 2px solid #132038;
		padding: 25px;
		&-in {		
			height: 100%;
            margin: 0;
			&-top {
				height: 30px;
				color: #132038;
				text-transform: uppercase;
				border-bottom: 1px solid #ececec;
				padding: 5px 0;
				font: {
					family: "Century Gothic";
					size: 15px;
					weight: normal;
				}
			}
			&-bottom {
				background: white;
				height: 410px;
				padding: 10px 0 45px 0;
				&-left {
					float: left;
					width: 600px;
					&-form {		
						label {
						
							input {
								
							}
							&:after {
								color: red;
								content: "*";
								font-size: 16px;
								margin: 28px 0 0 -25px;
								position: absolute;
							}
						}
						input {
							width: 290px;
							border: 0 none;
							color: #0c111a;
							font-family: "Century Gothic";
							font-size: 18px;
							font-weight: 400;
							height: 50px;
							margin: 10px 10px 0 0;
							padding: 18px 32px 18px 18px;					
						}
						.kod {
							background: #f3f3f3;
						}
						.fullwidth {
							width: 100%;
						}
						.form-reg-checkbox {
							margin-top: 20px;
							label {
								color: #0c111a;
								text-transform: uppercase;
								font: {
									family: "Century Gothic";
									size: 18px;
									weight: 400;
								}								
								&:after {
									display: none;
								}
								input {
									height: auto;
									width: auto;
								}
							}
						}
						.m-0 {
							margin: 10px 0 0 0;
						}
						.month {
							width: 140px;
						}
					}				
				}
				.fullwidth {
					width: 100%;
				}
				&-right {
					float: left;
					width: 290px;
					height: 290px;
					border: 1pz solid #e0e0e0;
					height: 290px;
					text-align: center;
					&-top {
						padding: 70px 0 20px 0;
					}
				}
			}
		}
		.height2 {
			height: 200px;
		}
		.height3 {
			height: 500px;
		}
		.fullwidth-text {
			width: 890px;
			margin-top: 10px;
			font: {
				family: "Century Gothic";
				size: 14px;
				weight: bold;
			}	
			&-caps {
				text-transform: uppercase;
			}
		}
	}
	.custom-title-block {
		height: 55px;
		width: 255px;
		float: right;
		font-size: 24px;
		padding: 0;
		margin: 15px 0;
	}
}


















