%edit{
		width: 56px;
		height: 56px;
		padding: 0px;
		position: relative;
		float: right;
		top: 0px;
		right: 0px;
		
		background: {
			image: url(/images/icons-lot/i-edit.png);
			repeat: no-repeat;
			position: 0px 0px;
		}
		&:hover{background-position: -57px 0px;	}
}
	
	
.lot-header{
  @extend .content-block;
	height: auto;
	padding: 15px;
	font: {
		family: "Century Gothic";
		size: 35px;
		weight: normal;
	}
	.info-top{
		padding-bottom: 15px;
		color: #d8a46a;
		font-size: 28px;
	}
	.info-bottom{
		color: #fff;
		font-size: 28px;
		font-weight: 700;
		text-transform: uppercase;

	}
	.edit{
		@extend %edit;
		float:right;
		top:0;
	}
	.garbage{
		width: 70px;
		height: 70px;
		padding: 0px;
		position: relative;
		float: right;
		top: 0px;
		right: 0px;
		
		background: {
			image: url(/images/icons-lot/lot-garbage.png);
			repeat: no-repeat;
			position: 0px 0px;
		}
		&:hover{background-position: -70px 0px;	}
		
	}
	.cat{
		width: 70px;
		height: 70px;
		padding: 0px;
		position: relative;
		float: right;
		top: 0px;
		right: 0px;
		
		background: {
			image: url(/images/icons-lot/lot-cat.png);
			repeat: no-repeat;
			position: 0px 0px;
		}
		&:hover{background-position: -70px 0px;	}
		
	}
}

	

.button-title{
	font-weight: 700;
	font-size: 24px;
	font-family: "Century Gothic";
	text-align: left;
}
%close{
	float: right;
	width: 56px;
	height: 56px;
	background: {
		image: url(/images/icons-lot/lot-close.png);
		repeat: no-repeat;
		position: 0 0;
	}
	&:hover{background-position: -57px 0px;	}
}

.txt-edit{
	height:70px;
	border-bottom: 3px solid black;
	width:100%;
	.title{
		height:100%;
		font-weight: 700;
		font-size: 24px;
		font-family: "Century Gothic";
		text-align: left;
	//	line-height: 70px;
		
	}
	.tool{
		float:right;
		width:70px;
		height:70px;
		background: {
			image: url(/images/icons-lot/lot-ttools.png);
			repeat: no-repeat;
			position: 0 0;
		}
		&-1{
			@extend .tool;
			background-position: 0px 0px;
			&:hover{background-position: -70px 0px;}
		}
		&-2{
			@extend .tool;
			background-position: 0px -70px;
			&:hover{background-position: -70px -70px;}
		}
		&-3{
			@extend .tool;
			background-position: 0px -140px;
			&:hover{background-position: -70px -140px;}
		}
		&-4{
			@extend .tool;
			background-position: 0px -210px;
			margin-right: 20px;
			&:hover{background-position: -70px -210px;}
		}
		&-5{
			@extend .tool;
			background-position: 0px -280px;
			&:hover{background-position: -70px -280px;}
		}
		&-6{
			@extend .tool;
			background-position: 0px -350px;
			&:hover{background-position: -70px -350px;}
		}
		&-7{
			@extend .tool;
			background-position: 0px -420px;
			&:hover{background-position: -70px -420px;}
		}
		&-8{
			@extend .tool;
			background-position: 0px -490px;
			&:hover{background-position: -70px -490px;}
		}
		&-9{
			@extend .tool;
			background-position: 0px -560px;
			&:hover{background-position: -70px -560px;}
		}
	}
}
.edit-field{
	min-height:70px;
	background-color: #fff;
	width:100%;
	.edit{
		@extend %edit;
		float:right;
		top:0;
	}
	.close{
		@extend %close;
		float:right;
		top:0;
	}

}


.lot-list{
  @extend .content-block;
  padding-left: 20px;
  padding-right: 20px;
  .top-block{
    margin-top: -15px;
    > div{
      margin-bottom: 15px;
    }
  }
  .lot-title{
    width: 100%;
    min-height: 80px;
    background: white;
	.edit{
		@extend %edit;
		float:right;
		top:0;
	}

  }
  .lot-estimate{
    width: 100%;
    min-height: 60px;
    background: #151789;
    color: white;
	.edit{
		@extend %edit;
		float:right;
		top:0;
	}
  }
  .lot-price{
    width: 100%;
    min-height: 60px;
    background: cornflowerblue;
    color: white;
	.edit{
		@extend %edit;
		float:right;
		top:0;
	}
  }
  .big-photo{
    height: 400px;
    width: 100%;
    background: white;
	.close{
		@extend %close;
		float:right;
		top:0;
	}

	.edit{
		@extend %edit;
		float:right;
		bottom:100%;
	}
}
  .gallery{
    @include margin-horizontal(-5px);
	.add{
		width: 20%;
		height: 100px;
		@include padding-horizontal(5px);
		padding-bottom: 10px;
		float: left;
		background-color: #fff; 
		div{
			width:70px;
			height: 70px;
			top:15px;
			background: {
				image: url(/images/icons-lot/lot-plus.png);
				repeat: no-repeat;
				position: 0 0;
			}
			&:hover{
				background-position: -70px 0;
			}
		}
		
	}
    .small-photo{
		.close{
			@extend %close;
			display: none;
			float:right;
			top:0;
			margin: -10px -10px 0 0;
		}
		&:hover{
			.close{	display: block;}
		}

      width: 20%;
      height: 100px;
      @include padding-horizontal(5px);
      padding-bottom: 10px;
      float: left;
      > div{
        background: white;
        @include square(100%);
      }
	  .close{
		 @extend %close;
		 display: none;
		 top:0;
		 margin: -20px -20px 0 0 0;
		 
	  }
	  
	  &:hover{
		.close{
		 display: block;
		}
	  }
    }
  }
  .lot-buttons{
    margin-bottom: 5px;
    > div{
      margin-bottom: 10px;
    }
  }
}