

%edit{
	@include square(30px);
	padding: 0;
	position: relative;
	float: right;
	top: 6px;
	right: 6px;

	background: {
		image: url(/images/icons-lot/i-edit.png);
		repeat: no-repeat;
		position: 0 0;
	}
	&:hover{background-position: -30px 0;	}
}
	
	
.lot-header{
  @extend .content-block;
	height: auto;
	padding: 15px;

	.info-top{
		
		font-family:"Gambria";
		font-weight: normal;
		font-style: normal;
		padding: 0 0 5px 5px;
		color: #758899;
		font-size: 28px;
	}
	.info-bottom{
		font-family:"Century Gothic";
		font-style: normal;
		color: #fff;
		font-size: 28px;
		padding: 0 0 5px 5px;
		font-weight: 500;
		text-transform: uppercase;

	}
	.edit{
		@extend %edit;
	}
	.garbage{
		width: 40px;
		height: 40px;
		padding: 0px;
		position: relative;
		float: right;
		top: 0px;
		margin:20px 5px 0 0;
		
		background: {
			image: url(/images/icons-lot/lot-garbage.png);
			repeat: no-repeat;
			position: 0px 0px;
		}
		&:hover{background-position: -40px 0px;	}
		
	}
	.cat{
		width: 40px;
		height: 40px;
		padding: 0px;
		position: relative;
		float: right;
		top: 0px;
		margin:20px 5px 0 0;
		
		background: {
			image: url(/images/icons-lot/lot-cat.png);
			repeat: no-repeat;
			position: 0px 0px;
		}
		&:hover{background-position: -40px 0px;	}
		
	}
}

	

.button-title{
	font-size: 24px;
	text-align: left;
	font-family:"Century Gothic";
	font-weight: normal;
	font-style: normal;
	padding: 10px 10px 0 20px;
	height: 55px;
	.edit{
		top: 2px;
		@extend %edit;
	}
}
%close{
	float: right;
	margin: 6px;
	top: 0;
	width: 30px;
	height: 30px;
	color: none;
	border-radius: 15px;
	background: {
		image: url(/images/icons-lot/lot-close.png);
		repeat: no-repeat;
		position: 0 0;
	}
	&:hover{background-position: -30px 0;	}
}

.txt-edit{
	position:relative;
	height:55px;
	border-bottom: 3px solid black;
	width:100%;
	background: none;
	@include clearfix;
	.title{
		height:100%;
		width:150px;
		font-weight: 500;
		font-size: 18px;
		text-align: center;
		background-color: #142038;
		
	}
	.tool{
		float:right;
		width:70px;
		height:70px;
		background: {
			image: url(/images/icons-lot/lot-ttools.png);
			repeat: no-repeat;
			position: 0 0;
		}
		&-1{
			@extend .tool;
			background-position: 0px 0px;
			&:hover{background-position: -70px 0px;}
		}
		&-2{
			@extend .tool;
			background-position: 0px -70px;
			&:hover{background-position: -70px -70px;}
		}
		&-3{
			@extend .tool;
			background-position: 0px -140px;
			&:hover{background-position: -70px -140px;}
		}
		&-4{
			@extend .tool;
			background-position: 0px -210px;
			margin-right: 20px;
			&:hover{background-position: -70px -210px;}
		}
		&-5{
			@extend .tool;
			background-position: 0px -280px;
			&:hover{background-position: -70px -280px;}
		}
		&-6{
			@extend .tool;
			background-position: 0px -350px;
			&:hover{background-position: -70px -350px;}
		}
		&-7{
			@extend .tool;
			background-position: 0px -420px;
			&:hover{background-position: -70px -420px;}
		}
		&-8{
			@extend .tool;
			background-position: 0px -490px;
			&:hover{background-position: -70px -490px;}
		}
		&-9{
			@extend .tool;
			background-position: 0px -560px;
			&:hover{background-position: -70px -560px;}
		}
	}
}
.edit-field{
	min-height:70px;
	background-color: #fff;
	margin: 8px 10px 10px 0;
	width:100%;
	p {
		padding: 5px 10px 5px 10px;
		margin: 0;
		line-height: 1.42857;
	}
	.edit{
		@extend %edit;
		top:10px;
		right:10px;
	}
	.close{
		@extend %close;
	}

}


.lot-list{
  @extend .content-block;
  padding-left: 20px;
  padding-right: 20px;
  .top-block{
    margin-top: -15px;
    > div{
      margin-bottom: 15px;
    }
  }
  .lot-title{
    width: 100%;
    min-height: 80px;
    background: white;
	.edit{
		top:12px;
		right: 14px;
		@extend %edit;
	}
	p {
		padding: 5px 10px 5px 10px;
		margin: 0;
	}

  }
  .lot-estimate{
    width: 100%;
    background: #151789;
    color: white;
	
  }
  .lot-price{
    width: 100%;
    background: #929bbc;;
    color: white;
	
  }
  .big-photo{
    height: 400px;
    width: 100%;
    background: white;
	position:relative;
	.cclose{
		@extend %close;
	}

	.edit{
		@extend %edit;
		position:absolute;
		top: 90%;
	}
}
  .gallery{
    @include margin-horizontal(-5px);
	  @include clearfix;
	.add{
		width: 20%;
		height: 100px;
		@include padding-horizontal(5px);
		padding-bottom: 10px;
		float: left;
		background-color: none; 
		div{
			width:40px;
			height: 40px;
			//top:15px;
			margin: 30% auto;
			background: {
				image: url(/images/icons-lot/lot-plus.png);
				repeat: no-repeat;
				position: -40px 0;
				size: auto 100%;
			}
			&:hover{
				background-position: 0 0;
			}
		}
		
	}
    .small-photo{
		.cclose{
			@extend %close;
			display: none;
			margin: -8px -8px 0 0;
			
		}
		&:hover{
			.cclose{	display: block;}
		}

		width: 20%;
		height: 100px;
		@include padding-horizontal(5px);
		padding-bottom: 10px;
	 
		float: left;
		> div{
			background: white;
			@include square(100%);
		}
		&:hover{
		.cclose{
		 display: block;
		}
	  }
    }
  }
  .lot-buttons{
    margin-bottom: 5px;
    > div{
      margin-bottom: 10px;
    }
  }
}


.lot-body {
	position: relative;
	margin-top: -20px;
	&-div-top {
		&-ul {
			padding-left: 0;
			li {
				background: white;
				cursor: pointer;
				float: left;
				height: 50px;
				list-style-type: none;
				color: #132038;
				text-transform: uppercase;	      
				text-align: center;
				padding: 15px 30px;
				font: {
					family: "Century Gothic";
					size: 15px;
					weight: normal;
				}
				&:hover, &.active {
					background: #132038;
					color: white;
				}
			}
		}
	}
	&-div-center {
		background: white;
		border-top: 2px solid #132038;
		padding: 25px;
		&-in {	
			height: 100%;
            margin: 0;
			&-top {
                margin: 6px 12px;
				height: 50px;
				color: #132038;
				text-transform: uppercase;
				border-bottom: 1px solid #ececec;
				padding: 5px 0;
				font: {
					family: "Century Gothic";
					size: 15px;
					weight: normal;
				}
				.sm-dropdown{
					float: left;
					overflow: hidden;
					height: 100%;
					@include xs-display{
						width: 40px;
						background: white;
						border: 1px solid gray;
						border-radius: 5px;
						&:hover{
							height: auto;
							padding-bottom: 10px;
						}
					}
				}
				&-divdescription {
					float: left;
					height: 30px;
					width: 30px;
					%afont{
						background: url(/images/icons-font/text-panel.png);
						&:hover {
							background-color:#bbbbbb;
							border-radius: 5px;
						}
					}
					a {						
						display: block;
						width: 40px;
						height: 40px;
				    }
					a.t {
						@extend %afont;
						background-position: 0px 0px;
					}					
					a.i {
						@extend %afont;
						background-position: 0px -40px;
					}
					a.b {
						@extend %afont;
						background-position: 0px -80px;
					}
					a.tt {
						@extend %afont;
						background-position: 0px -120px;
					}
					a.font-l {
						@extend %afont;
						background-position: 0px -160px;
					}
					a.font-c {
						@extend %afont;
						background-position: 0px -200px;
					}
					a.font-r {
						@extend %afont;
						background-position: 0px -240px;
					}
					a.indent-reduce {
						@extend %afont;
						background-position: 0px -280px;
					}
					a.indent-increase {
						@extend %afont;
						background-position: 0px -320px;
					}
				}
				.m-l {
					margin-left: 15px;
					@include xs-display{
						margin-left: 0;
					}
				}
			}
			.pad-icon {
				padding: 5px 0 30px;
			}
			&-bottom {
				background: white;
				padding: 10px 0 20px 0;
				&-left {
					float: left;
					width: 600px;
					&-form {
                        .row{
                          margin:{
                            left: -5px;
                            right: -5px;
                          }
                        }
                        .col-sm{
                          &-12,&-6,&-4,&-2{
                            padding: 0 5px;
                            margin-bottom: 10px;
                          }
                        }
						label {
                            margin-bottom: 0;
							input {
								
							}
							&:after {
                              color: red;
                              content: "*";
                              font-size: 16px;
                              right: 20px;
                              top: 18px;
                              position: absolute;
							}
						}
						input {
							border: 0 none;
							color: #0c111a;
							padding: 18px 32px 18px 18px;					
						}
						.kod {
							background: #f3f3f3;
						}
						.form-reg-checkbox {
							margin-top: 10px;
							label {
								color: #0c111a;
								text-transform: uppercase;
								font: {
									family: "Century Gothic";
									size: 18px;
									weight: 400;
								}								
								&:after {
									display: none;
								}
								input {
									height: auto;
									width: auto;
								}
							}
						}
						.month {
							width: 140px;
						}
					}				
				}
				&-right {
					float: left;
					width: 290px;
					height: 290px;
					border: 1px solid #e0e0e0;
					text-align: center;
					&-top {
						padding: 70px 0 20px 0;
					}
				}
			}
		}
		.fullwidth-text {
			width: 100%;
			margin-top: 10px;
			font: {
				family: "Century Gothic";
				size: 14px;
				weight: bold;
			}	
			&-caps {
				text-transform: uppercase;
			}
		}
	}
	.custom-title-block {
		height: 55px;
		width: 255px;
		float: right;
		font-size: 24px;
		padding: 0;
		margin: 15px 0;
	}
    #description-tab{
      .lk-body-div-center{
        padding: 5px 25px;
      }
    }
    #description-tab, #info-tab{
      overflow: auto;
    }
}
