modal{
  display: none;
}

@import "variables";
@import "../components/angular/angular-csp.css";
@import "../components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";
@import "header";
@import "footer";
@import "front-page";


//уберём браузерную обводку
input,textarea,.btn,button,a{
  &:not(.outline){
    &:active, &:focus {
      outline: none;
    }
    &::-moz-focus-inner {
      border: 0;
    }
  }
}

.row-block{
  width: 100%;
  .content-block{
    width: 100%;
    position: relative;
    max-width: 1000px;
    min-width: 740px;
    @include margin-horizontal(auto);
  }
}

.custom-title-block{
  background: #283879;
  height: 94px;
  color: white;
  padding: 16px;
  text: {
    align: center;
    transform: uppercase;
  }
  font: {
    family: "Century Gothic";
    weight: bold;
  }
  &-h3 {
    font-size: 20px;
  }
  &-h1 {
    font-size: 35px;
  }
}

.custom-btn{
  &-lg{
    background: #283879;
    height: 55px;
    color: white;
    text: {
      align: center;
      transform: uppercase;
    }
    font: {
      family: "Century Gothic";
      weight: bold;
      size: 24px;
    }
  }
}

.custom-input{
  background: #e6e7e8;
  height: 50px;
  color: #0c111a;
  text-transform: uppercase;
  font: {
    family: "Century Gothic";
    size: 18px;
  }
}

@import "modals";

