
.modals {
  .modal-content {
    border-radius: 0;
  }
  .modal-dialog {
  }
  .modal-header {
    background: $modal-header-background-color;
    color: white;
    @include padding-horizontal(15px);
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 0;
    .close {
      color: black;
      border-radius: 50px;
      background: white;
      opacity: 1;
      font-size: 14px;
      padding: 0 3px;
      margin: 3px;
    }
  }
}

#loginModal {
  .modal-body {
    padding: 28px;
    &-in {
      &-left {
        &-vxod {
          width: 287px;
          height: 205px;
          &-form {
            .vxod-form-input {
              width: 100%;
            }
            .userEmail {
              padding: 18px;
              border: 0;
            }
            .password {
              margin: 10px 0 0 0;
              padding: 18px;
              border: 0;
            }
            .submit {
              margin: 10px 0 0 0;
            }
            &-div {
              margin: 7px 0 0 0;
              text-transform: uppercase;
              font-family: "Century Gothic";
              font-size: 11px;
              color: #0c111a;
              &-left {
                float: left;
                width: 50%;
                label {
                  font-weight: normal;
                  input {
                    margin: 0;
                  }
                }
              }
              &-right {
                float: left;
                width: 50%;
                text-align: right;
              }
            }
          }
        }
      }
      &-right {
        @include sm-or-more-display{
          border-left: 1px solid #4e586a;
        }
        &-top {
          &-bottom {
            line-height: 34px;
          }
        }
        &-form {
          margin-top: 10px;
          label {
            margin-bottom: 0px;
            display: inline;
          }
          label:after {
            content: "*";
            color: red;
            font-size: 16px;
            margin: 19px 0 0 -19px;
            position: absolute;
          }
          &-reg {
            .reg-form-input-padding {
              background: #f3f3f3;
            }
            &-bottom {
              float: left;
              margin-top: 40px;
              width: 100%;
              label {
                width: 100%;
                display: block;
                color: #0c111a;
                text-transform: uppercase;
                font: {
                  family: "Century Gothic";
                  size: 18px;
                  weight: normal;
                }
              }
              label:after {
                content: "";
                display: none;
              }
            }
          }
          #div-text {
            margin: 25px 0 0 20px;
            width: 100%;
            color: black;
            text-transform: uppercase;
            font: {
              family: "Century Gothic";
              size: 11px;
            }
            li {
              list-style-type: none;
              margin: 0 0 0 -40px;
            }
            li:before {
              content: "- ";
            }
          }
        }
      }
    }
  }
}

#reg-auction-house {
  .modal-body {
    padding: 24px;
    .custom-title-block{
      font-size: 35px;
      margin-bottom: 10px;
    }
    .form-reg {
      label{
        margin: 0;
      }
      label:after {
        content: "*";
        color: red;
        font-size: 16px;
        margin: 19px 0 0 -19px;
        position: absolute;
      }
      .shirt-margin:after {
        margin: 28px 0 0 -25px;
      }
      &-checkbox {
        margin-top: 50px;
        label {
          width: 100%;
          display: block;
          color: #0c111a;
          text-transform: uppercase;
          font: {
            family: "Century Gothic";
            size: 18px;
            weight: normal;
          }
        }
        label:after {
          content: "";
          display: none;
        }
      }
      .kod {
        background: #f3f3f3;
      }
    }
  }
}

#create-auction {
  text-transform: uppercase;
  .row-1 {
    @include margin-horizontal(-5px);
    > div {
      padding: 0 5px 5px 5px;
    }
  }
}







