.room-header {
  font-family: "Century Gothic";
  @extend .content-block;
  position: relative;
  height: 100px;
  padding: 0 -15px;

  .room-container-header {
    background-image: url("/images/background-header.png") !important;
  }

  .info-top {
    // от верха хэдера до верха шрифта-26, до низа шрифта 44
    font-family: "Century Gothic";
    font-weight: normal;
    font-style: normal;
    padding: 17px 5px 0px 5px;
    color: #758899;
    font-size: 24px;
  }
  .info-bottom {
    // от верха хэдера до верха шрифта-48, до низа шрифта 67

    //position: relative;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 25px;
    color: #fff;
    font-size: 37px;
    font-weight: 500;

    .favorite {
      cursor: pointer;
      //position: absolute;
      @include square(40px);
      //padding: 0px;
      //top: -8px;
      //right: 0px;
      //margin: 0;
      background: {
        image: url(/images/ICONS_svg/fav_add_w.svg);
        repeat: no-repeat;
        position: 0px 0px;
      }
      &:hover {
        background-image: url(/images/ICONS_svg/fav_add_w_hover.svg);
      }

    }
    .cat { // от верха хедера до верха книжек - 32px и до нижнего -57
      cursor: pointer;
      //position: absolute;
      @include square(40px);
      //padding: 0px;
      //top: -9px;
      //right: 40px; //от края рабочего блока до края иконки - 21px
      //margin: 0;

      &.lot-open {
        right: 57px;
      }
      background: {
        image: url(/images/icons-lot/view_catalog_w.svg);
        repeat: no-repeat;
        position: 0px 0px;
      }
      &:hover {
        background-image: url(/images/icons-lot/view_catalog_w_hover.svg);
      }
    }
  }
}
.lot-priceinput {
  background-color: transparent;
  border:none;
  color: #FF0000;
  width: 30%;
}
.lot-pricediv1 {
  display: block;
  padding: 20px 15px 0;
  background: white;
  &-11 {
    font-weight: bold;
    margin: -10px 0 5px;
    }
      &-2 {
        background: #efefef;
        text-transform: uppercase;
        padding: 15px;
        color: #aaaaaa;
        font-size: 16px;
          &-1 {
            background: url(/images/ICONS_svg/bit_down.svg) no-repeat;
            margin-top: -4px;
            float: right;
            height: 28px;
            width: 28px;
            &:hover {
              background: url(/images/ICONS_svg/bit_down_hover.svg) no-repeat;
              cursor: pointer;
              }
           }
          &-2 {
            background: url(/images/ICONS_svg/bit_up.svg) no-repeat;
            margin-top: -4px;
            float: right;
            height: 28px;
            width: 28px;
            &:hover {
              background: url(/images/ICONS_svg/bit_up_hover.svg) no-repeat;
              cursor: pointer;
              }
          }
      }
  }

.pb-container {
  @include square(200px);
  position: relative;
}

.rom-container {
  background: #e3f4fc;
  font-family: "Century Gothic";

  video {
    width: 100%;
  }

  .room-circle-bar-text {

    color: #172447;
    position: absolute;
    top: 0px;
    left: 32px;
    &-digit {

      font-weight: bold;
      font-size: 45pt;

    }
    &-text {
      color: #172447;
      font-size: 14pt;
    }
  }

  .room_container-for-circles {
    margin: 15px;
    display: inline-block;
    position: relative;
  }
  .room-input-group-p1 {
    margin-top: 60px;
  }

  %auction-title {
    color: #172447;
  }
  .room-auction-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 69px;
    &-auction {
      @extend %auction-title;
      font-weight: bold;
      font-size: 45pt;
    }
    &-starts-in {
      @extend %auction-title;
      font-size: 15pt;
    }
  }

  .progress-bar-circle-container {
    text-align: center;
    .round-progress-wrapper {
      display: inline-block;
    }
  }
  .room-progress-bar-container {
    height: 20px;
    background: white;
    margin-top: -10px;
    padding: 3px;
    .progress-bar-line {
      border-width: 0 1px 0 1px;
      border-style: solid;
      margin-top: 3px;
      height: 40%;
      //width: calc(100% - 210px);
      background-color: #0d395f;
    }

    %rtib {
      white-space: nowrap;
      padding-left: 5px;
      padding-right: 5px;
      opacity: 0.5;
      color: #212947;
      align-content: center;
      text-align: center;
      font-weight: bold;
      font-size: 9pt;
    }
    .room-text-in-bar {
      &-procents {
        @extend %rtib;
        width: 135px;
        margin-right: 50px;
      }
      &-time {
        @extend %rtib;
        width: 75px;
      }
    }
  }

  .left-column {
    padding-right: 15px;
    padding-top: 40px;
  }

  .right-column {
    padding-left: 15px;
    padding-top: 20px;

    .statistics {
      height: 400px;
      overflow: auto;
      margin-top: 10px;
      .color-grey {
        color: #999;
      }
      .color-red {
        color: #FF0000;
      }
    }
  }

  .room-large-book {
    text-align: center;
    align: center;
    width: 100%;
    height: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .room-container-books {
    padding-top: 300px;
  }

  .logo-user {
    padding-left: 5px;
    padding-right: 5px;
  }

  .room-list {
    @extend .content-block;
    padding-left: 20px;
    padding-right: 20px;
    .top-block {
      margin-top: -15px;
      @media (max-width: 520px) {
        margin-top: 0px;
      }
      // это адаптивка

      > div {
        margin-bottom: 4px;
      }
    }
    //стиль для кружков
    //&-for-circles {
    //  @include clearfix;
    //  @include margin-horizontal(-14px);
    //  .circle-num {
    //    @include square(50px);
    //    border-radius: 25px;
    //    background: #d7d7d7;
    //    align-content: center;
    //    font-size: large;
    //    line-height: 50px;
    //    text-align: center;
    //    font-weight: bold;
    //    margin: {
    //      left: 8px;
    //      right: 8px;
    //      bottom: 8px;
    //      top: 8px;
    //    }
    //    float: left;
    //  }
    //}

    .room-title {
      position: relative;
      width: 100%;
      min-height: 80px;
      padding: 10px 5px;
      background: #eeeeee;
      .edit {
        @extend %edit;
        top: 12px;
        right: 1px;
        display: none;
      }
      &:hover {
        .edit {
          display: block;
        }
      }
      p {
        padding: 5px 5px;
        margin: 0;
      }

    }
    .room-estimate {
      position: relative;
      width: 100%;
      height: 56px; // высота по макету 56px
      background: #151789;
      @extend %font_strong; // от верха кнопки до верха шрифта - 21 и до низа - 36
      padding: 15px 0 0 20px; // левый отступ - 20px

      color: white;
      .edit {
        @extend %edit;
        top: 12px;
        right: 1px;
        display: none;
      }
      &:hover {
        .edit {
          display: block;
        }
      }

    }

    .big-photo {
      height: 400px;
      position: relative;
      width: 100%;
      background: white;
      //border: 1px solid #ccc;
      box-shadow: 0 1px 2px;
      .cclose {
        @extend %close;
        right: 6px;
        top: 6px;
        display: none;
      }
      &:hover {
        .cclose {
          display: block;
        }
        .edit {
          display: block;
        }
      }

      .edit {
        @extend %edit;
        bottom: 6px;
        right: 6px;
        display: none;
      }
    }
    .gallery-carousel {
      width: auto;
      height: 115px;
      overflow: hidden;
    }
    .gallery {
      @include margin-horizontal(-5px);
      @include clearfix;
      .small-photo {
        position: relative;
        cursor: pointer;
        .cclose {
          @extend %close;
          margin: -10px -4px 0 0;
          right: 0px;
          display: none;
        }
        &:hover {
          .cclose {
            display: block;
          }
        }

        width: 20%;
        height: 100px;
        @include padding-horizontal(5px);
        padding-bottom: 10px;

        float: left;
        > div:not(.cclose) {
          background: white;
          @include square(100%);
          border: 1px solid #ccc;
        }
      }
      .add {
        width: 20%;
        height: 100px;
        @include padding-horizontal(5px);
        padding-bottom: 10px;
        float: left;
        div {
          cursor: pointer;
          position: relative;
          background: white;
          @include square(100%);
          border: 1px solid #ccc;
          div {
            @include square(40px);
            //top:15px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -20px -20px;
            border: none;
            background: {
              //image: url(/images/icons-lot/lot-plus.png);
              repeat: no-repeat;
              //				position: -40px 0;
              position: 0 0;
              size: auto 100%;
              image: url(/images/icons-lot/add_img.svg);
            }
            &:hover {
              //				background-position: 0 0;
              background-image: url(/images/icons-lot/add_img_hover.svg);
            }
          }
        }

      }
    }

    .room-buttons {
      border-radius: 0px;
      background: #a6b5bc;
      color: #121a3e;
      height: 43px;
      margin: 0;
      > div {
        margin-bottom: 10px;
      }
    }

    &.ll-open {
      .edit, .cclose, .lot-body-div-center-in-top.pad-icon {
        display: none !important;
      }
      .gallery {
        height: 90px;
        overflow: hidden;
      }
    }

    .swap-btn {
      background: white;
      height: 30px;
      width: 30px;
      position: absolute;
      //top: 0;
      margin-left: -35;
      background-image: url(/images/ICONS_svg/view_change.svg);
      border-radius: 100%;
    }

    .sound-btn {
      background: white;
      height: 30px;
      width: 30px;
      position: absolute;
      //top: 0;
      margin-left: -35;
      background-image: url(/images/ICONS_svg/sound.svg);
      border-radius: 100%;
    }
    .sound-on {
      opacity: 1;
    }
    .sound-off {
      opacity: 0.5;
    }
    .room-message-form {
      border-radius: 0px;
      border: 0pt;
      background: #ccdde5;
      color: #a6b4bd;
      height: 43px;
    }
    .room-chat {
      background: #ccdde5;
      font-size: 12pt;
      padding: 10px;
      max-height: 235px;
      overflow: hidden;
    }

    .lotCl {
      color: grey;
    }

    .insert-your {
      padding-top: 12px;
      text-align: center;
      vertical-align: middle;
      font-weight: bold;
      font-size: 12pt;
      height: 43px;
      color: black;
      background: #ccdde5;
    }

    .width100 {
      width: 20%;
    }

    .room-small-photo {
      text-align: center;
      .room-small-photo-redBorder {
        border: 1px solid red;
      }
      > div {
        border: 0;
        width: 80px;
        height: 80px;
        display: inline-block;
        text-align: center;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        img {
          width: 78px;
          height: 78px;
          //width: 80px;
          //height: 80px;
        }
      }
    }
    .room-small-books-container {
      margin-left: -10px;
      margin-right: -10px;
    }
    .page-numbers-single {
      width: 57pt;
      text-align: center;
      padding-bottom: 10px;
      margin: 2pt;
      font-weight: bold;
      font-size: 8pt;
      color: #000066;
      margin-left: 10px;
    }

    .page-numbers-single-red {
      color: red;
    }

    .room-container-with-circles {
      margin-bottom: 40px;
      margin-left: 25px;
      //min-height: 415px;
      padding-top: 30px;

      .class-red-text-bid-none {
        display: none;
      }

      .class-red-text-bid {
        color: red;
        display: block;
        font-size: 16px;
        font-weight: bold;
        padding-top: 20px;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        width: 94%;
        position: absolute;
        bottom: 0;
      }

      .lot-table {
        float: left;
        position: relative;
        cursor: pointer;
        height: 75px;
        width: 80px;
        margin-left: -25px;
        margin-top: -30px;
        position: relative;
        background: url("/images/lot-tables/lot_tabl_quite.png") no-repeat;
        &.moveToTheRight {
          margin-left: 0;
        }
        .lot-user-internet {
          @extend .lot-table;
          background: url("/images/lot-tables/lot_tabl_hover_inet.png") no-repeat;
          height: 100px;
          width: 100px;
        }
      }
      .lot-table-user {
        @extend .lot-table;
        background: url("/images/lot-tables/lot_tabl_user.png") no-repeat;
      }
      .lot-table-stavka {
        @extend .lot-table;
        background: url("/images/lot-tables/lot_tabl_stavka.png") no-repeat;
      }
      .lot-table-leave {
        @extend .lot-table;
        background-image: url("/images/lot-tables/lot_tabl_leave.png");
      }
      .lot-table-press {
        &-inet {
          @extend .lot-table;
          background-image: url("/images/lot-tables/lot_tabl_press_inet.png");
        }
        &-zal {
          @extend .lot-table;
          background-image: url("/images/lot-tables/lot_tabl_press_zal.png");
        }
        &-inet, &-zal {
          .num-on-table {
            display: none;
          }
        }
      }

      .lot-tabl-hover-inet:hover {
        @extend .lot-table;
        background-image: url("/images/lot-tables/lot_tabl_hover_inet.png");
      }
      .lot-tabl-hover-zal:hover {
        @extend .lot-table;
        background-image: url("/images/lot-tables/lot_tabl_hover_zal.png");
      }

      .num-on-table {
        text-align: center;
        width: 60px;
        font-weight: bold;
        position: absolute;
        top: 20px;
      }
      .popup-window {
        z-index: 9;
        position: relative;
        margin-left: 40px;
        margin-top: -75px;
        width: 122px;
        height: 166px;
        background-image: url("/images/popup_backgroung.png");
        .popup-close-btn {
          width: 23px;
          height: 23px;
          position: absolute;
          top: 0;
          right: 0;
        }
        .popup-avatar {
          position: absolute;
          width: 75px;
          margin-top: 23px;
          margin-left: 25px;
          height: 60px;
          background: grey;
          background-image: url("");
        }
        .popup-text {
          position: absolute;
          z-index: 10;
          color: white;
          font-size: 8pt;
          margin-top: 90px;
          margin-left: 25px;
          &-name {
            font-weight: bold;
            width: 100%;
            overflow: hidden;
          }
          &-btn {
            padding-left: 9px;
            position: absolute;
            width: 75px;
            margin-left: 25px;
            margin-top: 130px;
            margin-left: 25px;
            border-radius: 0;
            font-size: 7pt;
            font-weight: bold;
          }
        }
      }
    }
    .room-input-group {
      margin-top: 100px;
    }

    .legend {
      white-space: nowrap;
      margin-bottom: 40px;
      .internet-hover {
        &:hover {
          color: blue;
          cursor: pointer;
        }
      }
    }

    .lot-user {
      @extend .lot-table;
      background: url("/images/lot-tables/lot_tabl_quite.png") no-repeat;
      height: 100px;
      width: 100px;
    }

    .lot-user-internet {
      @extend .lot-table;
      background: url("/images/lot-tables/lot_tabl_hover_inet.png") no-repeat;
      height: 100px;
      width: 100px;
    }

    .description {
      padding-top: 10px;
      background: white;
      height: 400px;
      margin-top: 10px;
      margin-bottom: 10px;
      .video-container {
        position: relative;
      }
    }
    .blue-border-right {
      border-width: 0 4px 0 0;
      border-style: solid;
      border-color: #e2f3fb;
      height: calc(100% - 10px);
    }
    .description-the-book {
      background: white;
      //border-bottom: 1px solid black;
      min-height: 80px;
      height: 100px;
      font-size: 15px;
      font-weight: 700;
      overflow: hidden;
    }
    .room-price {
      //position: relative;
      height: 56px; // высота по макету 56px
      //@extend %font_strong; // от верха кнопки до верха шрифта - 21 и до низа - 36
      background: #118b01;
      color: white;
      //padding: 5px 0px 0px 20px; // левый отступ - 20px\
      margin-top: 10px;
      &-color {
        &:hover {
          background: #117400;
        }
        &:active {
          background: #115200;
        }
      }
    }
    .display-table {
      display: table;
    }
    .do-rate {
      text-align: center;
      font-size: 15pt;
      padding-top: 12px;
      white-space: nowrap;
      font-weight: bold;
      cursor: pointer;
    }
    .do-rate-hided {
      background: #ccdde5;
      text-align: center;
      font-size: 15pt;
      padding-top: 12px;
      white-space: nowrap;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: #ccdde5;
      }
      &:active {
        background: #ccdde5;
      }
    }
    .number-of-rate {
      border-width: 0 0 0 1px;
      border-style: solid;
      font-size: 19pt;
      text-align: center;
      padding-top: 10px;
      font-weight: bold;
    }
    .max-rate {
      opacity: 0.5;
      font-weight: bold;
      text-align: center;
      font-size: 8pt;
      color: #212947;
      cursor: pointer;
    }
    .recommended-price {
      opacity: 0.5;
      font-weight: bold;
      font-size: 10pt;
      text-align: center;
      &-number {
        text-align: center;
        font-weight: bold;
        font-size: 15pt;
        //color: #118a02;
        color: #ff0000;
        white-space: nowrap;
      }
    }
    .rate-from-inet {
      text-align: center;
      color: #989898;
      font-weight: bold;
      height: 100px;
      font-size: 24pt;
      line-height: 0.7;
      &-sec-row {
        font-size: 14pt;
        p {
          font-size: 17px;
          margin: 7px 0 0 0;
        }
      }
      &-third-row {
        margin: 7px 0 0 0 !important;
        opacity: 1.0;
        font-size: 12pt !important;
        color: #508820;
      }
    }

    .image-center {
      display: block;
      margin: 0 auto;
    }
    .page-numbers {
      text-align: center;
    }

    .dollar-arrows {
      width: 100%;
      height: 74px;
      background-image: url("../images/dollar_arrows.png");
      background-position: center;
      background-repeat: no-repeat;
      align: center;
    }
    .room-arrow_left {
      position: absolute;
      left: 0;
    }
    .room-arrow-right {
      position: absolute;
      right: 0;
    }
    .room-video {
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  .classForVideo {
    &-small {
      height: 106px;
      width: 130px;
      //padding-top: 20px;
      img {
        min-height: 127px;
        min-width: 127px;
      }
      video {
        height: 106px;
        position: absolute;
        width: 130px;
      }
    }
    //&-big {
    //  bottom: -18px;
    //  height: 220px;
    //  position: absolute;
    //  right: 180px;
    //  width: 285px;
    //    video {
    //      position: absolute;
    //    }
    //  }
    //}
  }
  @media screen and (min-width: 1200px) {
    .classForVideo {
      &-big {
        bottom: -18px;
        height: 220px;
        position: absolute;
        right: 164px;
        width: 285px;
        video {
          position: absolute;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .classForVideo {
      &-big {
        bottom: -18px;
        height: 220px;
        position: absolute;
        right: 180px;
        width: 255px;
        video {
          position: absolute;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .classForVideo {
      &-big {
        bottom: -18px;
        height: 220px;
        position: absolute;
        right: 123px;
        width: 200px;
        video {
          position: absolute;
        }
      }
      &-small {
        width: 88px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .classForVideo {
      &-big {
        bottom: -18px;
        height: 220px;
        position: absolute;
        right: 260px;
        width: 300px;
        video {
          position: absolute;
        }
      }
      &-small {
        width: 160px;
      }
    }
  }
  @media screen and (max-width: 635px) {
    .classForVideo {
      &-big {
        bottom: -18px;
        height: 220px;
        position: absolute;
        right: 210px;
        width: 200px;
        video {
          position: absolute;
        }
      }
      &-small {
        height: 106px;
        width: 120px;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .classForVideo {
      &-big {
        bottom: -18px;
        height: 220px;
        position: absolute;
        right: 150px;
        width: 150px;
        video {
          position: absolute;
        }
      }
      &-small {
        width: 88px;
      }
    }
  }
  //
  .class-Of-Lot-I {
    background: url("/images/lot-tables/lot_tabl_press_inet_without_i.png") no-repeat !important;
    height: 100px;
    width: 100px;
  }
  .state-lot {
    font-size: 20px;
    color: red;
    text-align: center;
  }

  .class-blue-bid {
    background: url("/images/lot-tables/lot_tabl_user.png") no-repeat !important;
    height: 100px;
    width: 100px;
  }

  .class-red-bid {
    background: url("/images/lot-tables/lot_tabl_stavka.png") no-repeat !important;
    height: 100px;
    width: 100px;
  }

  .class-red-bid-external {
    height: 45px;
  }

  .class-red-bid-text {
    color: red;
    display: block !important;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  .class-red-bid-text-none {
    display: none;
  }

  .lot-user-internet {
    @extend .lot-table;
    background: url("/images/lot-tables/lot_tabl_hover_inet.png") no-repeat !important;
    height: 100px;
    width: 100px;
  }

  .pull-left.ng-binding {
    margin-top: -5px;
  }

  p.ng-binding.ng-scope {
    margin-top: 0px;
  }
}